.fa-mars,
.fa-venus,
.fa-star,
.icon-edit-pencil,
.fa-star,
.icon-camera {
    color: #9b9b9b !important;
}

@media screen and (max-width: 992px){
    #body_design .design-content {
        margin-left: 10px;
        margin-right: 10px;
    }
}

#infodiv {
    top: 0px;
    width: 100%;
    margin: 0px;
}

#step_forward_alternate,
#step_back {
    margin-top: 10px;
}

#step_forward {
    margin-top: -4px;
}

#nav_buttons {
    padding-top: 17px !important;
}

body {
    background: url(/img/kerstachtergrond.jpg);
}

@media screen and (max-width: 767px) {
    .page.show-tagged #card_previews .xs-12,
    .page.show-tagged #card_previews .xsm-12 {
        width: 50%;
    }
}
