.navbar.navbar-collapsed .middlebar {
    display: block !important;
}

.navbar.navbar-collapsed .topbar {
    border-bottom: none;
}

.navbar .topbar .topbar-basket-mob {
    text-align: center;
}

.navbar .dropdown>a:after,
.navbar .dropdown.active>a:after {
    display: none;
}

@media screen and (min-width: 992px) {
    .navbar .dropdown>a:after,
    .navbar .dropdown.active>a:after {
        display: inline-block;
    }
}

@media screen and (max-width: 767px) {
    .navbar {
        width: 100%;
    }
    .navbar .middlebar .navbar-search-field {
        top: 50px;
    }
}

@media screen and (max-width: 992px) {
    .navbar {
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .navbar .middlebar ul.middlebar-menu-left {
        position: absolute;
        margin-left: 10px;
    }
}

#sidebar nav,
#sidebar .sidebar_widget {
    width: 100%;
}

@media screen and (min-width: 1200px) {
    #body_design #choose_preview:after {
        content: '- - - > > >';
    }
}

@media screen and (min-width: 768px) {
    .ed .ui-accordion .ui-accordion-header a,
    .ed .ui-accordion .ui-accordion-header a:hover {
        background-color: transparent !important;
    }
    .ed #accordion .ui-accordion-content {
        height: 293px;
    }

    .ed #nav_buttons #order_card {
        background-color: #bbcccc;
        color: #fff;
        border: 1px solid #bbcccc !important;
    }

    #body_address_n #nav_buttons #step_forward,
    #body_bestel_details #nav_buttons #step_forward,
    #body_voorbeeld #nav_buttons #step_forward {
        border: 1px solid #bbcccc !important;
        padding: 12px 20px;
    }

    #body_keuze .button-success {
        border: 1px solid #bbcccc !important;
    }

    #body_basket #nav_buttons .back-button,
    #body_basket #nav_buttons .forward-button {
        padding: 12px 20px;
    }

    .ed #nav_buttons #order_card:hover {
        background-color: #fff;
        color: #bbcccc;
    }

    .ed button#choose_font:hover {
        background: #bbcccc;
    }

    .ed #add_photo {
        background: #bbcccc;
        color: #fff;
        border-color: #fff;
        border-radius: 0;
        padding: 5px 0 !important;
        font-size: 13px;
    }

    .ed #add_photo:hover {
        background: #fff;
        color: #bbcccc;
        border-color: #bbcccc;
    }

    .ed button {
        background: #fff;
        color: #6e7277;
    }

    .ed #chooseside .single_portrait_p1 {
        background-image: url(/common/img/card-icons/icon-single-portrait-p1.svg);
        width: 44px;
    }

    .ed #chooseside .single_portrait_p2 {
        background-image: url(/common/img/card-icons/icon-single-portrait-p2.svg);
        width: 44px;
    }

    .ed .ui-dialog {
        background-color: #fff;
        z-index: 9;
    }

    .ed #tag_dialog {
        max-height: 70vh !important;
    }

    #body_edit #fg_img_select {
        margin-top: -15px;
    }

    .ed #email_login,
    .ed #password_login {
        text-align: left;
    }

    .ed #chooseside .single_portrait_10x21_p1 {
        background-image: url(/common/img/card-icons/icon-single-portrait-p1.svg);
        width: 44px;
        background-size: 100% 140%;
    }
    .ed #chooseside .single_portrait_10x21_p2 {
        background-image: url(/common/img/card-icons/icon-single-portrait-p2.svg);
        width: 44px;
        background-size: 100% 140%;
    }

    #order_card,
    #step_forward {
        border: inherit !important;
        border-radius: 0;
    }

    .button-succes {
        border-color: #bbcccc;
    }

    #body_bestel_details .ng2-dropdown .ng2-dropdown-option {
        max-height: 180px;
    }

    .ed #imagelist .head,
    .ed #clipartlist .head,
    .ed #patternlist .head {
        clear: left;
    }

    .ed #imagelist .content,
    .ed #clipartlist .content,
    .ed #patternlist .content {
        width: 100%;
    }

    #body_edit #save_user_design_form label:hover,
    #body_edit #save_design_form label:hover {
        color: initial;
        border: none;
    }

    .ed #chooseside {
        width: 400px;
    }

    .ed #chooseside label {
        border: 1px solid transparent;
        color: transparent;
    }

    .ed #chooseside label:hover {
        border-color: #bbcccc;
    }
}



/** EDIT FIX PANORAMA LIGGEND ------------------- **/

#canvas {
    overflow: hidden;
    z-index: 0;
}

#canvasgrid {
    pointer-events: none;
}

#canvasgrid table.edit_cross td {
    border: 1px solid red;
    width: 50%;
}

#canvasgrid table.edit_cross tr:first-child td {
    border-top: 0;
}

#canvasgrid table.edit_cross tr td:first-child {
    border-left: 0;
}

#canvasgrid table.edit_cross tr td:last-child {
    border-right: 0;
}

#canvasgrid table.edit_cross tr:last-child td {
    border-bottom: 0;
}

.side-block {
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 0 15px;
    width: 125px
}

.side-block .side-block-buttons {
    display: table;
    position: relative;
    border: 1px solid #d7dada;
    background-color: #fff;
    width: 100%
}

.side-block .side-block-buttons .side-block-button {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding: 8px 0;
    cursor: pointer;
    border-right: 1px dashed #d7dada;
    width: 50px
}

.side-block .side-block-buttons .side-block-button:last-child {
    border-right: none
}

.side-block .side-block-buttons .side-block-button.active,
.side-block .side-block-buttons .side-block-button:active,
.side-block .side-block-buttons .side-block-button:focus,
.side-block .side-block-buttons .side-block-button:hover {
    background-color: #f9f9f9;
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.side-block .side-block-buttons .side-block-button.active:after,
.side-block .side-block-buttons .side-block-button:active:after,
.side-block .side-block-buttons .side-block-button:focus:after,
.side-block .side-block-buttons .side-block-button:hover:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid #bdbdbd;
    content: ""
}

#body_edit #chooseside,
#body_edit #page_edit_nav_new {
    position: absolute!important;
    z-index: 1;
    text-align: center;
    top: auto!important;
    left: 150px!important;
    bottom: 0!important;
    margin: 0!important;
    padding: 0!important
}

#body_edit #page_edit_nav_new {
    width: auto!important
}

.tooltip {
    position: relative
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #383333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 15px;
    position: absolute;
    z-index: 1;
    bottom: 115%;
    left: 50%;
    margin-left: -75px;
    line-height: 16px;
    -webkit-transform: scale(1)!important;
    transform: scale(1)!important;
    font-size: 11px
}

.tooltip .tooltiptext:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #000 transparent transparent
}

.tooltip.open-tooltip .tooltiptext {
    visibility: visible
}

#choose_part,
#choose_side {
    font-size: 9px
}

#panorama_next_click,
#panorama_prev_click {
    position: absolute;
    top: 0;
    bottom: 0;
    cursor: pointer
}

#panorama_prev_click {
    left: 15px
}

#panorama_next_click {
    right: 15px
}

#panorama_next_click .panorama_next_click_button,
#panorama_prev_click .panorama_prev_click_button {
    margin: auto;
    top: 0;
    bottom: 0;
    cursor: pointer;
    display: block;
    position: absolute;
    height: 45px;
    width: 45px;
    z-index: 99999;
    background-color: #fff;
    border-radius: 100%;
    border: 1px solid #bbcccc;
    text-align: center
}

#panorama_next_click .panorama_next_click_button:before,
#panorama_prev_click .panorama_prev_click_button:before {
    font-family: editor-font!important;
    font-size: 25px;
    line-height: 45px;
    color: #bbcccc;
    text-align: center
}

#panorama_prev_click .panorama_prev_click_button:before {
    content: "\71";
    padding-right: 4px
}

#panorama_next_click .panorama_next_click_button:before {
    content: "\70";
    padding-left: 4px
}

#panorama_next_click .panorama_next_click_button {
    right: 0
}

@media (max-width: 767px) {
    #page_edit_nav_new {
        display: none;
    }

    .panorama-drieluik #editor-scroller {
        display: block;
        position: fixed;
        width: 180px;
        bottom: 107px;
        height: 5px;
        background: #b9b9b9;
        border: none;
        left: 0;
        right: 0;
        margin: auto
    }

    .panorama-drieluik #editor-scroller .ui-slider-handle {
        background: #f1f1f1!important;
        margin-left: -29px;
        position: relative;
        display: table;
        border-radius: 15px;
        top: -.9em;
        color: #909090;
        -ms-touch-action: none;
        touch-action: none
    }

    .panorama-drieluik #editor-scroller .ui-slider-handle>span.icon {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding: 0 2px
    }
}

@media (min-width: 767px) {
    #editor-scroller {
        display: none;
    }
}

@media (max-width: 767px) {
    .ed#body_edit .ed-footer {
        height: 90px !important;
    }
}








/** MENU NEW **/

.navbar {}

@media (max-width: 991px) {
    .desktop-only {
        display: none;
    }
}



















@media (min-width: 992px) {}