#infodiv {
    z-index: 10;
    background: none;
    top: -45px;
    left: 55px;
    width: 450px;
}

#infodiv table {
    position: relative;
    top: -3px
}

#editor_top_border {
    margin-top: -61px;
}

#accordion {
    margin: 0;
    width: 340px;
}

a#edit_card {
    color: none;
}

.edit_div, .edittable {
    color: #000000;
}

#accordion .ui-accordion-content a {
    color: #e10219;
    font-weight: normal;
}

#imagelist .pages, #patternlist .pages, #clipartlist .pages {
    width: 135px;
    color: #919191
}

#accordion .ui-accordion-header a {
    color: #fff !important;
    font-weight: normal;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    text-decoration: none !important;
    line-height: 30px
}

#accordion .ui-accordion-header.ui-state-active a {
    color: #fff
}

#accordion .ui-accordion-content a.prev, #accordion .ui-accordion-content a.next {
    color: #456067;
    display: inline-block;
    font-size: 11px;
    width: 80px;
    text-decoration: none !important
}

#accordion .ui-accordion-content a.prev {
    text-align: left
}

#accordion .ui-accordion-content a.next {
    text-align: right
}

#imagelist .head, #patternlist .head, #clipartlist .head {
    color: #000000;
}

.combo > input {
    background-image: url("/img/red_arrow_down.png");
}

#send_date_picker .ui-state-active {
    background: url("/img/calendar-selected.png") no-repeat scroll 7px 0 transparent;
}

#photolist img, #clipartlist img {
    margin: 2px 5px 0 5px;
    border: #d3d3d3 1px solid;
}

#imagelist img {
    background-color: #f1f3f2;
    width: 90px;
    max-height: 85px;
    margin: 2px 5px 0 5px;
    border: 0;
    border-right: 1px solid #f1f3f2;
    border-left: 1px solid #f1f3f2
}

#imagelist .content, #photolist .content, #clipartlist .content {
    width: 310px;
    padding-left: 6px
}

#patternlist img {
    background-color: #def1eb;
    width: 85px;
    max-height: 85px;
    margin: 2px 6px 0 6px;
    border: 0;
    border-right: 4px solid #def1eb;
    border-left: 3px solid #def1eb
}

#patternlist .content {
    width: 312px;
    padding-left: 3px
}

#imageaddform {
    background: #fff;
    width: 320px;
    height: 350px;
    margin-top: -5px;
    margin-left: -1px
}

#bt-color, #bt-pattern {
    margin-bottom: -10px;
    overflow: hidden;
}

#bt-color .description, #bt-pattern .description {
    float: left;
    margin-top: 3px;
    width: 86px;
}

#bt-color .description .arrow_allign {
    display: none
}

#patternlist {
    padding-top: 10px;
}

.edit_div img.arrow_allign, #texttable img.centeredImage {
    display: none;
}

#texttable.edittable td {
    padding: 4px 2px
}

#txt_align_left_label,
#txt_align_center_label,
#txt_align_right_label,
#txt_align_justify_label,
#txt_align_top_label,
#txt_align_middle_label,
#txt_align_bottom_label,
#txt_align_left_label.ui-state-active,
#txt_align_center_label.ui-state-active,
#txt_align_right_label.ui-state-active,
#txt_align_justify_label.ui-state-active,
#txt_align_top_label.ui-state-active,
#txt_align_middle_label.ui-state-active,
#txt_align_bottom_label.ui-state-active {
    margin-right: -2px;
    background-image: url("/img/sprites-editor.png") !important;
    background-repeat: no-repeat;
}

#txt_align_left_label {
    background-position: 0 0;
}

#txt_align_left_label:hover {
    background-position: 0 -31px;
}

#txt_align_left_label.ui-state-active {
    background-position: 0 -61px;
}

#txt_align_center_label {
    background-position: 0 -467px;
}

#txt_align_center_label:hover {
    background-position: 0 -499px;
}

#txt_align_center_label.ui-state-active {
    background-position: 0 -531px;
}

#txt_align_right_label {
    background-position: 0 -181px;
}

#txt_align_right_label:hover {
    background-position: 0 -213px;
}

#txt_align_right_label.ui-state-active {
    background-position: 0 -244px;
}

#txt_align_justify_label {
    background-position: 0 -564px;
}

#txt_align_justify_label:hover {
    background-position: 0 -596px;
}

#txt_align_justify_label.ui-state-active {
    background-position: 0 -628px;
}

#txt_align_top_label {
    background-position: 0 -275px;
}

#txt_align_top_label:hover {
    background-position: 0 -306px;
}

#txt_align_top_label.ui-state-active {
    background-position: 0 -338px;
}

#txt_align_middle_label {
    background-position: 0 -90px;
}

#txt_align_middle_label:hover {
    background-position: 0 -119px;
}

#txt_align_middle_label.ui-state-active {
    background-position: 0 -150px;
}

#txt_align_bottom_label {
    background-position: 0 -371px;
}

#txt_align_bottom_label:hover {
    background-position: 0 -403px;
}

#txt_align_bottom_label.ui-state-active {
    background-position: 0 -434px;
}

#txt_align {
    height: 32px;
    margin-top: 5px
}

#txt_align_v {
    margin-bottom: 0
}

#txt_arrange {
    margin: 4px 0 2px
}

#placeholder {
    position: relative;
    top: 3px;
    height: auto !important
}

#photo_turn_left {
    margin-right: 3px;
}

#imgtransparency, #textsize, #texttransparency {
    background: #ccc;
    border: medium none;
    float: none;
    height: 6px;
    margin-left: 20px;
    width: 158px;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 0;
}

#imgtransparency a, #texttransparency a, #textsize a {
    background: url("/img/scroll-ico.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: medium none;
    display: block;
    height: 7px;
    width: 16px;
    top: -6px;
    margin-left: 0;
}

.ui-slider-horizontal .ui-slider-handle {
    background-color: #808080 !important;
}

#position_photo_tofront .ui-button-text, #position_txt_tofront .ui-button-text {
    background: url("/img/to_front.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}

#position_photo_toback .ui-button-text, #position_txt_toback .ui-button-text {
    background: url("/img/to_back.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}

#position_photo_tofront .ui-button-text img, #position_photo_toback .ui-button-text img, #position_txt_toback .ui-button-text img, #position_txt_tofront .ui-button-text img {
    visibility: hidden;
}

#accordion .ui-accordion-content textarea#txt_edit_add {
    background: #f8f9f9;
    width: 296px !important;
    height: 75px !important;
    padding: 5px 9px;
    margin: 9px 0 5px 1px;
    color: #8f8e8e;
    font-size: 12px;
    font-family: 'Trebuchet MS', Verdana;
    border-color: #d3d3d3;
    border-width: 2px 2px 1px 1px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none
}

#photo_arrange #position_photo_tofront, #photo_arrange #position_photo_toback, #txt_arrange #position_txt_tofront, #txt_arrange #position_txt_toback {
    border: medium none;
    box-shadow: none;
}

#imagelist, #patternlist, #clipartlist {
    width: 318px;
    height: 125px
}

#imagelist, #clipartlist {
    margin-top: 7px
}

#text_turn_left, #text_turn_right {
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

#chooseside {
    width: 330px;
}