<table style="margin: 0; padding:0; width: auto; height: 175px; color: white; text-align:left; border:none; margin-bottom: 10px; font-size: 15px;">
  <tbody>
    <tr style="margin: 0; padding: 0;">
      <td style="background: url('/img/footer_btn_1.png') 0px 0px no-repeat; width:239px; margin: 0; padding: 0; color: #822626; padding-top: 82px; padding-left: 60px; padding-right: -60px;">
        Meld je gratis aan<br />
        <span style="color: #60C2E4; font-size:11px;">en krijg o.a. 20% korting</span>
      </td>
      <td style="background: url('/img/footer_btn_2.png') 0px 0px no-repeat; width:239px; margin: 0; padding: 0; color: #822626; padding-top: 82px; padding-left: 60px; padding-right: -60px;">
        Gratis proefdruk<br />
        <span style="color: #60C2E4; font-size:11px;">beleef onze kwaliteit</span>
      </td>
      <td style="background: url('/img/footer_btn_3.png') 0px 0px no-repeat; width:239px; margin: 0; padding: 0; color: #822626; padding-top: 82px; padding-left: 60px; padding-right: -60px;">
        Specials<br />
        <span style="color: #60C2E4; font-size:11px;">stuur een kaart en een kado</span>
      </td>
      <td style="background: url('/img/footer_btn_4.png') 0px 0px no-repeat; width:239px; margin: 0; padding: 0; color: #822626; padding-top: 82px; padding-left: 60px; padding-right: -60px;">
        100% tevreden<br />
        <span style="color: #60C2E4; font-size:11px;">niet goed = geld terug</span>
      </td>
    </tr>
  </tbody>
</table>

<div style="background: url(/img/footer.png); padding: 0; height: 110px; width: 960px;">

  <table style="margin: auto; width: 900px; height: 100px; color: white; background-color: #acd9f1; text-align:left;">
    <tbody>
      <tr>
        <th>Wensplein</th>
        <th>Wensplein</th>
        <th>Wensplein</th>
        <th>Wensplein</th>
        <th>Wensplein</th>
      </tr>
      <tr>
        <td>
          &gt; Over Wensplein<br>
          &gt; Kaarten weblog<br>
          &gt; In de pers</td>
        <td>
          &gt; Over Wensplein<br>
          &gt; Kaarten weblog<br>
          &gt; In de pers</td>
        <td>
          &gt; Over Wensplein<br>
          &gt; Kaarten weblog<br>
          &gt; In de pers</td>
        <td>
          &gt; Over Wensplein<br>
          &gt; Kaarten weblog<br>
          &gt; In de pers</td>
        <td>
          &gt; Over Wensplein<br>
          &gt; Kaarten weblog<br>
          &gt; In de pers</td>
      </tr>
    </tbody>
  </table>
</div>