#categories {
    display: none;
}
#pagecontent {
    padding-top: 30px;
    width: 940px;
}
#crumbs {
    padding-left: 160px;
}
h1 {
    font-size: 20px;
    padding-left: 180px;
}
#mid {
    padding-top: 0;
}

@media all and (max-height: 800px) {
	#pagecontent {
		padding-top: 0!important;
	}
}