@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(http://fonts.googleapis.com/css?family=Pompiere:400normal|Open+Sans:400normal|Rouge+Script|The+Girl+Next+Door|Shadows+Into+Light|Neucha);
/* Define Size */
.cols {
  margin-right: -6px;
  margin-left: -6px;
}
.cols:after {
  clear: both;
}
.lg-1,
.lg-10,
.lg-11,
.lg-12,
.lg-2,
.lg-3,
.lg-4,
.lg-5,
.lg-6,
.lg-7,
.lg-8,
.lg-9,
.xs-1,
.xs-10,
.xs-11,
.xs-12,
.xs-2,
.xs-3,
.xs-4,
.xs-5,
.xs-6,
.xs-7,
.xs-8,
.xs-9,
.xsm-1,
.xsm-10,
.xsm-11,
.xsm-12,
.xsm-2,
.xsm-3,
.xsm-4,
.xsm-5,
.xsm-6,
.xsm-7,
.xsm-8,
.xsm-9,
.sm-1,
.sm-10,
.sm-11,
.sm-12,
.sm-2,
.sm-3,
.sm-4,
.sm-5,
.sm-6,
.sm-7,
.sm-8,
.sm-9,
.md-1,
.md-10,
.md-11,
.md-12,
.md-2,
.md-3,
.md-4,
.md-5,
.md-6,
.md-7,
.md-8,
.md-9 {
  position: relative;
  min-height: 1px;
  padding-right: 6px;
  padding-left: 6px;
}
/* clear the first in row for any block that has the class "cols-multi" */
.cols-multi .xs-6:nth-child(2n + 3) {
  clear: left;
}
.cols-multi .xs-4:nth-child(3n + 4) {
  clear: left;
}
.cols-multi .xs-3:nth-child(4n + 5) {
  clear: left;
}
.cols-multi .xs-2:nth-child(6n + 7) {
  clear: left;
}
.cols-multi .xs-1:nth-child(12n + 13) {
  clear: left;
}
@media only screen and (min-width: 320px) {
  .xs-1,
  .xs-10,
  .xs-11,
  .xs-12,
  .xs-2,
  .xs-3,
  .xs-4,
  .xs-5,
  .xs-6,
  .xs-7,
  .xs-8,
  .xs-9 {
    float: left;
  }
  .xs-offset-0 {
    margin-left: 0;
  }
  .xs-offset-1 {
    margin-left: 8.33333333%;
  }
  .xs-offset-2 {
    margin-left: 16.66666667%;
  }
  .xs-offset-3 {
    margin-left: 25%;
  }
  .xs-offset-4 {
    margin-left: 33.33333333%;
  }
  .xs-offset-5 {
    margin-left: 41.66666667%;
  }
  .xs-offset-6 {
    margin-left: 50%;
  }
  .xs-offset-7 {
    margin-left: 58.33333333%;
  }
  .xs-offset-8 {
    margin-left: 66.66666667%;
  }
  .xs-offset-9 {
    margin-left: 75%;
  }
  .xs-offset-10 {
    margin-left: 83.33333333%;
  }
  .xs-offset-11 {
    margin-left: 91.66666667%;
  }
  .xs-offset-12 {
    margin-left: 100%;
  }
  .xs-1 {
    width: 8.33333333%;
  }
  .xs-2 {
    width: 16.66666667%;
  }
  .xs-3 {
    width: 25%;
  }
  .xs-4 {
    width: 33.33333333%;
  }
  .xs-5 {
    width: 41.66666667%;
  }
  .xs-6 {
    width: 50%;
  }
  .xs-7 {
    width: 58.33333333%;
  }
  .xs-8 {
    width: 66.66666667%;
  }
  .xs-9 {
    width: 75%;
  }
  .xs-10 {
    width: 83.33333333%;
  }
  .xs-11 {
    width: 91.66666667%;
  }
  .xs-12 {
    width: 100%;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .xsm-1,
  .xsm-10,
  .xsm-11,
  .xsm-12,
  .xsm-2,
  .xsm-3,
  .xsm-4,
  .xsm-5,
  .xsm-6,
  .xsm-7,
  .xsm-8,
  .xsm-9 {
    float: left;
  }
  .xsm-offset-0 {
    margin-left: 0;
  }
  .xsm-offset-1 {
    margin-left: 8.33333333%;
  }
  .xsm-offset-2 {
    margin-left: 16.66666667%;
  }
  .xsm-offset-3 {
    margin-left: 25%;
  }
  .xsm-offset-4 {
    margin-left: 33.33333333%;
  }
  .xsm-offset-5 {
    margin-left: 41.66666667%;
  }
  .xsm-offset-6 {
    margin-left: 50%;
  }
  .xsm-offset-7 {
    margin-left: 58.33333333%;
  }
  .xsm-offset-8 {
    margin-left: 66.66666667%;
  }
  .xsm-offset-9 {
    margin-left: 75%;
  }
  .xsm-offset-10 {
    margin-left: 83.33333333%;
  }
  .xsm-offset-11 {
    margin-left: 91.66666667%;
  }
  .xsm-offset-12 {
    margin-left: 100%;
  }
  .xsm-1 {
    width: 8.33333333%;
  }
  .xsm-2 {
    width: 16.66666667%;
  }
  .xsm-3 {
    width: 25%;
  }
  .xsm-4 {
    width: 33.33333333%;
  }
  .xsm-5 {
    width: 41.66666667%;
  }
  .xsm-6 {
    width: 50%;
  }
  .xsm-7 {
    width: 58.33333333%;
  }
  .xsm-8 {
    width: 66.66666667%;
  }
  .xsm-9 {
    width: 75%;
  }
  .xsm-10 {
    width: 83.33333333%;
  }
  .xsm-11 {
    width: 91.66666667%;
  }
  .xsm-12 {
    width: 100%;
  }
  /* reset previous grid */
  .cols-multi .xs-6:nth-child(2n + 3) {
    clear: none;
  }
  .cols-multi .xs-4:nth-child(3n + 4) {
    clear: none;
  }
  .cols-multi .xs-3:nth-child(4n + 5) {
    clear: none;
  }
  .cols-multi .xs-2:nth-child(6n + 7) {
    clear: none;
  }
  .cols-multi .xs-1:nth-child(12n + 13) {
    clear: none;
  }
  /* clear first in row for small columns */
  .cols-multi .xsm-6:nth-child(2n + 3) {
    clear: left;
  }
  .cols-multi .xsm-4:nth-child(3n + 4) {
    clear: left;
  }
  .cols-multi .xsm-3:nth-child(4n + 5) {
    clear: left;
  }
  .cols-multi .xsm-2:nth-child(6n + 7) {
    clear: left;
  }
  .cols-multi .xsm-1:nth-child(12n + 13) {
    clear: left;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .sm-1,
  .sm-10,
  .sm-11,
  .sm-12,
  .sm-2,
  .sm-3,
  .sm-4,
  .sm-5,
  .sm-6,
  .sm-7,
  .sm-8,
  .sm-9 {
    float: left;
  }
  .cols .sm-6:nth-child(2n + 3) {
    clear: both;
  }
  .sm-offset-0 {
    margin-left: 0;
  }
  .sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .sm-offset-3 {
    margin-left: 25%;
  }
  .sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .sm-offset-6 {
    margin-left: 50%;
  }
  .sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .sm-offset-9 {
    margin-left: 75%;
  }
  .sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .sm-offset-12 {
    margin-left: 100%;
  }
  .sm-1 {
    width: 8.33333333%;
  }
  .sm-2 {
    width: 16.66666667%;
  }
  .sm-3 {
    width: 25%;
  }
  .sm-4 {
    width: 33.33333333%;
  }
  .sm-5 {
    width: 41.66666667%;
  }
  .sm-6 {
    width: 50%;
  }
  .sm-7 {
    width: 58.33333333%;
  }
  .sm-8 {
    width: 66.66666667%;
  }
  .sm-9 {
    width: 75%;
  }
  .sm-10 {
    width: 83.33333333%;
  }
  .sm-11 {
    width: 91.66666667%;
  }
  .sm-12 {
    width: 100%;
  }
  /* reset previous grid */
  .cols-multi .xsm-6:nth-child(2n + 3) {
    clear: none;
  }
  .cols-multi .xsm-4:nth-child(3n + 4) {
    clear: none;
  }
  .cols-multi .xsm-3:nth-child(4n + 5) {
    clear: none;
  }
  .cols-multi .xsm-2:nth-child(6n + 7) {
    clear: none;
  }
  .cols-multi .xsm-1:nth-child(12n + 13) {
    clear: none;
  }
  /* clear first in row for small columns */
  .cols-multi .sm-6:nth-child(2n + 3) {
    clear: left;
  }
  .cols-multi .sm-4:nth-child(3n + 4) {
    clear: left;
  }
  .cols-multi .sm-3:nth-child(4n + 5) {
    clear: left;
  }
  .cols-multi .sm-2:nth-child(6n + 7) {
    clear: left;
  }
  .cols-multi .sm-1:nth-child(12n + 13) {
    clear: left;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .md-1,
  .md-10,
  .md-11,
  .md-12,
  .md-2,
  .md-3,
  .md-4,
  .md-5,
  .md-6,
  .md-7,
  .md-8,
  .md-9 {
    float: left;
  }
  .md-offset-0 {
    margin-left: 0;
  }
  .md-offset-1 {
    margin-left: 8.33333333%;
  }
  .md-offset-2 {
    margin-left: 16.66666667%;
  }
  .md-offset-3 {
    margin-left: 25%;
  }
  .md-offset-4 {
    margin-left: 33.33333333%;
  }
  .md-offset-5 {
    margin-left: 41.66666667%;
  }
  .md-offset-6 {
    margin-left: 50%;
  }
  .md-offset-7 {
    margin-left: 58.33333333%;
  }
  .md-offset-8 {
    margin-left: 66.66666667%;
  }
  .md-offset-9 {
    margin-left: 75%;
  }
  .md-offset-10 {
    margin-left: 83.33333333%;
  }
  .md-offset-11 {
    margin-left: 91.66666667%;
  }
  .md-offset-12 {
    margin-left: 100%;
  }
  .md-1 {
    width: 8.33333333%;
  }
  .md-2 {
    width: 16.66666667%;
  }
  .md-3 {
    width: 25%;
  }
  .md-4 {
    width: 33.33333333%;
  }
  .md-5 {
    width: 41.66666667%;
  }
  .md-6 {
    width: 50%;
  }
  .md-7 {
    width: 58.33333333%;
  }
  .md-8 {
    width: 66.66666667%;
  }
  .md-9 {
    width: 75%;
  }
  .md-10 {
    width: 83.33333333%;
  }
  .md-11 {
    width: 91.66666667%;
  }
  .md-12 {
    width: 100%;
  }
  /* reset previous grid */
  .cols-multi .sm-6:nth-child(2n + 3) {
    clear: none;
  }
  .cols-multi .sm-4:nth-child(3n + 4) {
    clear: none;
  }
  .cols-multi .sm-3:nth-child(4n + 5) {
    clear: none;
  }
  .cols-multi .sm-2:nth-child(6n + 7) {
    clear: none;
  }
  .cols-multi .sm-1:nth-child(12n + 13) {
    clear: none;
  }
  /* clear first in row for medium columns */
  .cols-multi .md-6:nth-child(2n + 3) {
    clear: left;
  }
  .cols-multi .md-4:nth-child(3n + 4) {
    clear: left;
  }
  .cols-multi .md-3:nth-child(4n + 5) {
    clear: left;
  }
  .cols-multi .md-2:nth-child(6n + 7) {
    clear: left;
  }
  .cols-multi .md-1:nth-child(12n + 13) {
    clear: left;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .lg-1,
  .lg-10,
  .lg-11,
  .lg-12,
  .lg-2,
  .lg-3,
  .lg-4,
  .lg-5,
  .lg-6,
  .lg-7,
  .lg-8,
  .lg-9 {
    float: left;
  }
  .lg-offset-0 {
    margin-left: 0;
  }
  .lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .lg-offset-3 {
    margin-left: 25%;
  }
  .lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .lg-offset-6 {
    margin-left: 50%;
  }
  .lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .lg-offset-9 {
    margin-left: 75%;
  }
  .lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .lg-offset-12 {
    margin-left: 100%;
  }
  .lg-1 {
    width: 8.33333333%;
  }
  .lg-2 {
    width: 16.66666667%;
  }
  .lg-3 {
    width: 25%;
  }
  .lg-4 {
    width: 33.33333333%;
  }
  .lg-5 {
    width: 41.66666667%;
  }
  .lg-6 {
    width: 50%;
  }
  .lg-7 {
    width: 58.33333333%;
  }
  .lg-8 {
    width: 66.66666667%;
  }
  .lg-9 {
    width: 75%;
  }
  .lg-10 {
    width: 83.33333333%;
  }
  .lg-11 {
    width: 91.66666667%;
  }
  .lg-12 {
    width: 100%;
  }
  /* reset previous grid */
  .cols-multi .md-6:nth-child(2n + 3) {
    clear: none;
  }
  .cols-multi .md-4:nth-child(3n + 4) {
    clear: none;
  }
  .cols-multi .md-3:nth-child(4n + 5) {
    clear: none;
  }
  .cols-multi .md-2:nth-child(6n + 7) {
    clear: none;
  }
  .cols-multi .md-1:nth-child(12n + 13) {
    clear: none;
  }
  /* clear first in row for large columns */
  .cols-multi .lg-6:nth-child(2n + 3) {
    clear: left;
  }
  .cols-multi .lg-4:nth-child(3n + 4) {
    clear: left;
  }
  .cols-multi .lg-3:nth-child(4n + 5) {
    clear: left;
  }
  .cols-multi .lg-2:nth-child(6n + 7) {
    clear: left;
  }
  .cols-multi .lg-1:nth-child(12n + 13) {
    clear: left;
  }
}
@font-face {
  font-family: 'Lilly';
  src: url('fonts/Lilly.eot');
  src: url('fonts/Lilly.eot') format('embedded-opentype'), url('fonts/Lilly.woff2') format('woff2'), url('fonts/Lilly.woff') format('woff'), url('fonts/Lilly.ttf') format('truetype'), url('fonts/Lilly.svg#Lilly') format('svg');
}
@font-face {
  font-family: "kcicons";
  src: url("../css/fonts/kcicons.eot");
  src: url("../css/fonts/kcicons.eot?#iefix") format("embedded-opentype"), url("../css/fonts/kcicons.woff") format("woff"), url("../css/fonts/kcicons.ttf") format("truetype"), url("../css/fonts/kcicons.svg#untitled-font-1") format("svg");
  font-weight: normal!important;
  font-style: normal;
}
@font-face {
  font-family: 'kg_love_somebodyregular';
  src: url('/css/fonts/KGLoveSomebody-webfont.eot');
  src: url('/css/fonts/KGLoveSomebody-webfont.eot?#iefix') format('embedded-opentype'), url('/css/fonts/KGLoveSomebody-webfont.woff2') format('woff2'), url('/css/fonts/KGLoveSomebody-webfont.woff') format('woff'), url('/css/fonts/KGLoveSomebody-webfont.ttf') format('truetype'), url('/css/fonts/KGLoveSomebody-webfont.svg#kg_love_somebodyregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Components */
@media only screen and (max-width: 320px) {
  .content-wrapper {
    top: 10px;
    padding: 5px;
  }
  .xsm-hide,
  .xsm-hide,
  .md-hide,
  .lg-hide {
    display: block;
  }
  .xs-hide {
    display: none !important;
  }
}
@media only screen and (max-width: 480px) and (min-width: 320px) {
  .content-wrapper {
    top: 10px;
    padding: 5px;
  }
  .xs-hide,
  .sm-hide,
  .md-hide,
  .lg-hide {
    display: block;
  }
  .xsm-hide {
    display: none !important;
  }
}
@media only screen and (max-width: 768px) and (min-width: 480px) {
  .content-wrapper {
    padding: 5px;
  }
  .xs-hide,
  .xsm-hide,
  .md-hide,
  .lg-hide {
    display: block;
  }
  .sm-hide {
    display: none !important;
  }
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
  .content-wrapper {
    padding: 10px;
  }
  .xs-hide,
  .xsm-hide,
  .sm-hide,
  .lg-hide {
    display: block;
  }
  .md-hide {
    display: none !important;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 1200px) and (min-width: 992px) {
  .content-wrapper {
    padding: 0;
  }
  .xs-hide,
  .xsm-hide,
  .sm-hide,
  .md-hide {
    display: block;
  }
  .lg-hide {
    display: none !important;
  }
  .container {
    width: 960px;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .content-wrapper {
    padding: 0;
  }
  .container {
    width: 960px;
  }
  .xl-hide {
    display: none !important;
  }
}
.hide {
  display: none;
}
#headermenu {
  display: none!important;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  outline: none;
}
i {
  display: inline-block;
}
.sidebar-head {
  font-family: 'Trebuchet MS",Verdana';
  color: #45adba;
  font-size: 22px;
  margin-bottom: 20px;
}
body {
  color: #403c3d;
  font-size: 13px;
  line-height: 18px;
  font-family: "Trebuchet MS", Verdana;
  padding: 0;
  margin: 0;
}
header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}
.transition-ease {
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.navbar:after .container:after,
.cols:after,
topbar:after,
middlebar:after,
.topbar-left:after,
.topbar-right:after,
topbar-menu:after {
  clear: both;
}
ol,
ul {
  margin-top: 0;
  margin-bottom: 10px;
}
ul {
  padding: 0;
}
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dd,
dt {
  line-height: 1.42857143;
}
p {
  margin-top: 0;
  margin-bottom: 15px;
  color: #262626;
  font-size: 13px;
  line-height: 22px;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 100;
}
.navbar:after,
.navbar:before,
.container:after,
.container:before,
.cols:after,
.cols:before,
.form-horizontal .input-group:after,
.form-horizontal .input-group:before {
  display: table;
  content: " ";
}
ul {
  list-style: none;
}
a {
  color: #ed1c24;
  outline: none;
  text-decoration: none ;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: #787878;
}
a:focus {
  color: #787878;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Trebuchet MS', 'Verdana';
  font-weight: normal;
  color: #45adba;
  margin-bottom: 15px;
}
h1 {
  font-size: 26px;
  color: #666666;
  margin-top: 5px;
  margin-bottom: 5px;
}
h2 {
  font-size: 22px;
  color: inherit;
  line-height: 27px;
}
h3 {
  line-height: 22px;
  margin: 0 0 8px;
  color: #262626;
  font-size: 21px;
  font-weight: normal;
  font-family: 'GillSansMT';
}
h4 {
  font-size: 18px;
  color: inherit;
}
h5 {
  font-size: 18px;
  color: inherit;
}
h6 {
  font-size: 18px;
  color: inherit;
}
.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  clear: both;
  height: 100%;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-center {
  display: block;
  margin: 0 auto;
}
.img-circle {
  border-radius: 50%!important;
}
.text-left {
  text-align: left!important;
}
.text-center {
  text-align: center!important;
}
.text-right {
  text-align: right!important;
}
.text-default {
  color: #cccccc;
}
.text-primary {
  color: #6fd4ce;
}
.text-success {
  color: #f5871e;
}
.text-warning {
  color: #f6c61e;
}
.text-danger {
  color: #fa9485;
}
.text-info {
  color: #f5871e;
}
.text-white {
  color: #ffffff !important;
}
.text-xs {
  font-size: 0.6em!important;
}
.text-xsm {
  font-size: 0.8em!important;
}
.text-sm {
  font-size: 1.0em!important;
}
.text-md {
  font-size: 1.2em!important;
}
.text-lg {
  font-size: 1.4em!important;
}
.lowercase {
  text-transform: lowercase;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.inverted-menu-item {
  background-color: #8AC0CF;
  color: #FFF !important;
  border: 1px solid black;
}
#rich-menu-content {
  border: 1px solid black;
}
#rich-menu-content:after {
  clear: both;
}
#rich-menu-content .rich-snippets {
  width: 100%;
  float: none;
}
#rich-menu-content span {
  display: inline!important;
}
#rich-menu-content .rich-snippets .btn-feedback {
  display: block;
  text-align: center;
  background: #00a0ba;
  color: #fff;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  margin-top: 8px;
  width: 100%;
  padding: 0 5px;
}
.home_item {
  border-top: 5px solid #e8f2f5;
  padding: 0 10px;
}
.home_item > h3 {
  padding: 12px 0 10px 0 !important;
}
.home_item a {
  color: #ed1c24;
  outline: none;
  text-decoration: underline !important;
}
.home_item a:hover {
  text-decoration: none !important;
}
.welkom h3 {
  font-family: 'Dawning of a New Day' !important;
  font-size: 38px !important;
  margin: 30px 0px 7px 0px;
  padding: 0px 10px;
  line-height: 45px;
}
.cptitle {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 767px) {
  .cptitle {
    text-align: center;
  }
}
.info {
  padding-left: 10px;
  padding-right: 10px;
}
.custom-checkbox {
  position: relative;
  display: inline-block;
}
.custom-checkbox > .box {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  background-color: #eee;
  border-radius: 0px;
}
.custom-checkbox > .box > .tick {
  position: absolute;
  left: 0px;
  top: 2px;
  width: 14px;
  height: 6px;
  border-bottom: 2px solid #333;
  border-left: 2px solid #333;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: none;
}
.custom-checkbox > input {
  position: absolute;
  outline: none;
  left: 0;
  top: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  border: none;
  margin: 0;
  opacity: 0;
  z-index: 1;
}
.custom-checkbox > input:active + .box {
  border-color: #aaa;
  background-color: #ddd;
}
.custom-checkbox > input:checked + .box > .tick {
  display: block;
}
/********************************************
/* H TAGS */
/********************************************/
/********************************************
/* TEXT */
/********************************************/
/********************************************
/* INPUT CHECKBOX */
/********************************************/
/********************************************
/* LINK */
/********************************************/
/********************************************
/* LOGO */
/********************************************/
/********************************************
/* NAVBAR */
/********************************************/
/* search color */
/* navbar li colors*/
/* link colors */
/* Dropdown */
/* navbar li colors*/
/* link colors */
/* Border color */
/********************************************
/* BUTTON-BLOCK */
/********************************************/
/********************************************
/* CARDBLOCK */
/********************************************/
/********************************************
/* BUTTON-BLOCK-IMG */
/********************************************/
/********************************************
/* LIST-HORIZONTAL */
/********************************************/
/********************************************
/* BREADCRUMB */
/********************************************/
/********************************************
/* THUMBNAILS */
/********************************************/
/********************************************
/* BUTTON */
/********************************************/
/********************************************
/* FIELD */
/********************************************/
/********************************************
/* ACCORDION */
/********************************************/
/********************************************
/* BOX */
/********************************************/
/********************************************
/* CAROUSEL */
/********************************************/
/********************************************
/* LIST-VERTICAL */
/********************************************/
/********************************************
/* PILLS */
/********************************************/
/********************************************
/* TABLE */
/********************************************/
/********************************************
/* THUMBNAIL-CARD */
/********************************************/
/********************************************
/* THUMBNAIL-PEOPLE */
/********************************************/
/********************************************
/* THUMBNAIL-SLIDER */
/********************************************/
/********************************************
/* THUMBNAIL-SCROLLER */
/********************************************/
/********************************************
/* VISUAL */
/********************************************/
.icon {
  font-family: 'kcicons';
  font-style: normal!important;
}
/* sizes */
.icon-xs {
  font-size: 0.5em!important;
}
.icon-x1 {
  font-size: 0.8em!important;
}
.icon-x2 {
  font-size: 2em!important;
}
.icon-x3 {
  font-size: 4em!important;
}
/* icons */
.icon-user:after {
  content: 'a';
}
.icon-phone:after {
  content: 'b';
}
.icon-th:after {
  content: 'c';
}
.icon-mail:after {
  content: 'd';
}
.icon-chevron-down:after {
  content: 'e';
}
.icon-chevron-right:after {
  content: 'f';
}
.icon-camera:after {
  content: 'g';
}
.icon-heart:after {
  content: 'h';
}
.icon-arrow-left:after {
  content: 'i';
}
.icon-arrow-right:after {
  content: 'j';
}
.icon-info:after {
  content: 'k';
}
.icon-basket:after {
  content: 'm';
}
.icon-exit-topright:after {
  content: 'p';
}
.icon-edit-pencil:after {
  content: 'r';
}
.icon-add:after {
  content: 'q';
}
.icon-search:after {
  content: 's';
}
.icon-favorite-heart:after {
  content: 'u';
}
.icon-unfavorite-heart:after {
  content: 't';
}
.icon-trash:after {
  content: 'w';
}
@media only screen and (max-width: 767px) {
  #visual-content {
    margin-top: 50px;
  }
  .navbar {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 50px;
    z-index: 9999;
    background-color: #ffffff;
  }
  .navbar .container {
    overflow: visible;
  }
  .navbar .navbar-hamburger {
    position: relative;
    display: block;
    cursor: pointer;
    float: left;
    height: 50px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-color: transparent;
    z-index: 5;
  }
  .navbar .navbar-hamburger:hover,
  .navbar .navbar-hamburger:focus,
  .navbar .navbar-hamburger:active {
    background-color: #8AC0CF;
    outline: 0;
  }
  .navbar .navbar-hamburger:hover .icon-bar,
  .navbar .navbar-hamburger:focus .icon-bar,
  .navbar .navbar-hamburger:active .icon-bar {
    background-color: #FFF;
  }
  .navbar .navbar-hamburger .icon-bar {
    border-radius: 5px;
    display: block;
    margin: 4px 0px;
    width: 28px;
    height: 5px;
    background-color: #64686D;
  }
  .navbar .collapse {
    position: fixed;
    display: none;
    background: #8AC0CF;
    width: 80%;
    overflow-y: scroll;
    top: 50px;
    left: 0px;
    bottom: 0px;
    box-shadow-right: 4px 4px 4px black;
  }
  .navbar .topbar {
    background-color: #ffffff;
    height: 50px;
  }
  .navbar .topbar .topbar-menu-left {
    display: none;
  }
  .navbar .topbar .topbar-menu-left li {
    padding: 0px 5px 0px 5px;
    margin: 10px 0px 10px 0px;
  }
  .navbar .topbar .topbar-menu-right,
  .navbar .topbar .topbar-menu-left {
    position: absolute;
    padding: 0px 0px 0px 0px;
    height: 100%;
    top: 0px;
    right: 0px;
  }
  .navbar .topbar .topbar-menu-right > ul,
  .navbar .topbar .topbar-menu-left > ul {
    height: 100%;
    margin-bottom: 0px;
  }
  .navbar .topbar .topbar-menu-right > ul > li,
  .navbar .topbar .topbar-menu-left > ul > li {
    display: inline-block;
    vertical-align: middle;
    border: 0px;
    height: 100%;
  }
  .navbar .topbar .topbar-menu-right > ul > li a,
  .navbar .topbar .topbar-menu-left > ul > li a {
    display: block;
    color: #8ac0cf;
    padding: 14px 0px 10px 0px;
    font-size: 12px;
    height: 100%;
    border: none;
    margin: 0px 0px 0px 0px;
  }
  .navbar .topbar .topbar-menu-right > ul > li a:hover,
  .navbar .topbar .topbar-menu-left > ul > li a:hover {
    color: #fab568;
  }
  .navbar .topbar .topbar-menu-right > ul > li a:active,
  .navbar .topbar .topbar-menu-left > ul > li a:active {
    color: #fab568;
  }
  .navbar .topbar .topbar-menu-right > ul > li a:focus,
  .navbar .topbar .topbar-menu-left > ul > li a:focus {
    color: #fab568;
  }
  .navbar .topbar .topbar-menu-right > ul > li a > span,
  .navbar .topbar .topbar-menu-left > ul > li a > span {
    display: none;
  }
  .navbar .topbar .topbar-menu-right > ul > li a i,
  .navbar .topbar .topbar-menu-left > ul > li a i {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
  }
  .navbar .topbar .topbar-menu-right > ul #headerbasket,
  .navbar .topbar .topbar-menu-left > ul #headerbasket {
    background-color: #8AC0CF;
    color: #FFF !important;
    padding-right: 5px;
  }
  .navbar .topbar .dropdown {
    position: relative;
  }
  .navbar .topbar .dropdown:hover {
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    background-color: #fff;
    z-index: 999;
  }
  .navbar .topbar .dropdown:hover > ul {
    visibility: visible;
    opacity: 1;
  }
  .navbar .topbar .dropdown:hover > a {
    background-color: #fff;
  }
  .navbar .topbar .dropdown > a {
    position: relative;
    display: block;
    background-color: transparent;
    z-index: 33;
  }
  .navbar .topbar .dropdown > ul {
    position: fixed;
    visibility: hidden;
    width: 100%;
    opacity: 1;
    right: 0px;
    left: 0px;
    margin: -1px 0px 0px 0px;
    background-color: #fff;
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
  }
  .navbar .topbar .dropdown > ul > li {
    display: block;
    position: relative;
  }
  .navbar .topbar .dropdown > ul > li:hover {
    background-color: #6e7277;
  }
  .navbar .topbar .dropdown > ul > li:hover a {
    color: #fff;
  }
  .navbar .topbar .dropdown > ul > li > a {
    display: block;
    padding: 5px 10px 5px 10px;
    text-align: left;
    color: #6e7277;
    font-size: 14px;
  }
  .navbar .middlebar {
    background-color: transparent;
    height: 36px;
  }
  .navbar .middlebar .middlebar-menu-left,
  .navbar .middlebar ul.middlebar-menu-right {
    padding: 15px 15px 0 15px;
    margin-bottom: 50px;
  }
  .navbar .middlebar .middlebar-menu-left a,
  .navbar .middlebar ul.middlebar-menu-right a {
    color: #FFF;
    display: block;
    padding: 12px 0px 12px 10px;
    margin-right: 0px;
    font-size: 16px!important;
    font-family: "Trebuchet MS", Verdana;
  }
  .navbar .middlebar .middlebar-menu-left a:hover,
  .navbar .middlebar ul.middlebar-menu-right a:hover,
  .navbar .middlebar .middlebar-menu-left a:focus,
  .navbar .middlebar ul.middlebar-menu-right a:focus,
  .navbar .middlebar .middlebar-menu-left a:active,
  .navbar .middlebar ul.middlebar-menu-right a:active {
    border-radius: 5px;
    background-color: #97CCCC;
    text-decoration: none;
  }
  .navbar .middlebar .middlebar-menu-left li,
  .navbar .middlebar ul.middlebar-menu-right li {
    border-bottom: 1px solid #E0E0E0;
    margin: 0;
  }
  .navbar .middlebar .middlebar-menu-left .dropdown-content a,
  .navbar .middlebar ul.middlebar-menu-right .dropdown-content a {
    padding: 5px 0px 5px 25px;
    color: #E0E0E0;
    margin-right: 0px;
  }
  .navbar .middlebar .middlebar-menu-left .dropdown-content a.list-toggle-text,
  .navbar .middlebar ul.middlebar-menu-right .dropdown-content a.list-toggle-text {
    font-style: italic;
    color: #959595;
    font-size: 14px !important;
  }
  .navbar .middlebar .middlebar-menu-left .dropdown-content li,
  .navbar .middlebar ul.middlebar-menu-right .dropdown-content li {
    border: 0px;
    margin-bottom: 0px;
    margin: 0px;
    padding: 0px;
  }
  .navbar .middlebar .navbar-search {
    display: none;
  }
  .navbar .middlebar .navbar-search-field {
    position: fixed;
    display: block!important;
    background-color: #8ac0cf;
    top: 50px;
    border: 0px solid black;
    width: 100%;
    z-index: 89;
    overflow: hidden;
    padding: 5px 5px 5px 5px;
  }
  .navbar .middlebar .navbar-search-field .search-button-field {
    float: right;
    display: block;
    border: none;
    height: 30px;
    width: auto;
    padding: 0px 10px 0px 15px;
    cursor: pointer;
    background-color: transparent;
  }
  .navbar .middlebar .navbar-search-field .search-input-field {
    overflow: hidden;
  }
  .navbar .middlebar .navbar-search-field .search-input-field input[type="text"] {
    display: block;
    border: none;
    width: 100%;
    height: 30px;
    padding: 0px 10px 0px 10px;
  }
  .navbar .logo {
    display: none;
  }
  .navbar ul.middlebar-menu-right li a {
    font-size: 12px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 768px) {
  #visual-content {
    margin-top: 118px;
  }
  /* margin top visualcon */
  .navbar {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 9999;
    background-color: #fff;
    height: 118px;
  }
  .navbar .container {
    overflow: visible;
  }
  .navbar .navbar-hamburger {
    display: none;
  }
  .navbar .collapse {
    left: auto!important;
    display: block!important;
  }
  .navbar .topbar {
    border-bottom: 1px solid #efefef;
    height: 36px;
    position: fixed;
    background: #fff;
    width: 100%;
    z-index: 9999;
    padding: 0px;
  }
  .navbar .topbar .topbar-menu-left {
    position: absolute;
  }
  .navbar .topbar .topbar-menu-left a {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px 0px 5px;
    margin: 0px;
    padding: 5px 0px;
    font-size: 12px;
    height: 100%;
    color: black;
  }
  .navbar .topbar .topbar-menu-left a:hover {
    color: #ffdebd;
  }
  .navbar .topbar .topbar-menu-left a:active {
    color: #ffdebd;
  }
  .navbar .topbar .topbar-menu-left a:focus {
    color: #ffdebd;
  }
  .navbar .topbar .topbar-menu-right {
    position: absolute;
    padding: 0px;
    height: 100%;
    right: 0px;
  }
  .navbar .topbar .topbar-menu-right > ul {
    height: 100%;
    margin: 0px;
  }
  .navbar .topbar .topbar-menu-right > ul > li {
    height: 100%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 4px 2px;
    border: 1px solid transparent;
  }
  .navbar .topbar .topbar-menu-right > ul > li > a {
    display: block;
    font-size: 12px;
    padding: 0px 5px 0px 5px;
    margin: 3px 0px 0px 0px;
    height: 100%;
    color: #8ac0cf;
    border: 1px solid transparent;
  }
  .navbar .topbar .topbar-menu-right > ul > li > a:first-child {
    padding-left: 0px;
  }
  .navbar .topbar .topbar-menu-right > ul > li > a:hover {
    text-decoration: underline;
  }
  .navbar .topbar .topbar-menu-right > ul > li > a:active {
    color: #fab568;
  }
  .navbar .topbar .topbar-menu-right > ul > li > a:focus {
    color: #fab568;
  }
  .navbar .topbar .topbar-menu-right > ul > li > a > i {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
  }
  .navbar .topbar .topbar-menu-right > ul > li .icon-chevron-down {
    padding-left: 0px;
    padding-right: 0px;
  }
  .navbar .topbar .topbar-menu-right > ul #headerbasket {
    background-color: #8AC0CF;
    color: #FFF !important;
  }
  .navbar .topbar .dropdown:hover {
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    z-index: 999;
  }
  .navbar .topbar .dropdown:hover > ul {
    visibility: visible;
    opacity: 1;
  }
  .navbar .topbar .dropdown > a {
    position: relative;
    display: block;
    background-color: #fff;
    z-index: 33;
  }
  .navbar .topbar .dropdown > ul {
    position: absolute;
    visibility: hidden;
    width: 250px;
    opacity: 1;
    right: -1px;
    margin-top: -1px;
    background-color: #fff;
    border: 1px solid #E0E0E0;
  }
  .navbar .topbar .dropdown > ul > li {
    display: block;
    position: relative;
  }
  .navbar .topbar .dropdown > ul > li:hover {
    background-color: #8ac0cf;
  }
  .navbar .topbar .dropdown > ul > li:hover a {
    color: #fff;
  }
  .navbar .topbar .dropdown > ul > li > a {
    display: block;
    padding: 5px 10px;
    text-align: left;
    color: #8ac0cf;
    font-size: 14px;
  }
  .navbar .topbar .logosmall {
    display: none;
    float: left ;
    padding-top: 1px;
    max-width: 111px;
  }
  .navbar .middlebar {
    height: 75px;
    top: 57px;
    height: 41px;
    position: absolute;
    width: 100%;
    background-color: #ffffff;
  }
  .navbar .middlebar .dropdown {
    position: relative;
  }
  .navbar .middlebar .dropdown:hover ul {
    visibility: visible;
    opacity: 1;
    background-color: #8ac0cf;
  }
  .navbar .middlebar .dropdown ul {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    right: 0px;
  }
  .navbar .middlebar .dropdown ul li {
    padding: 0;
    margin: 0;
    min-width: 250px;
    width: 100%;
  }
  .navbar .middlebar .dropdown ul li a {
    display: block;
    width: 100%;
    padding: 10px;
  }
  .navbar .middlebar .dropdown ul li a:hover {
    background-color: #ffffff;
  }
  .navbar .middlebar .middlebar-menu {
    font-size: 12px;
  }
  .navbar .middlebar ul.middlebar-menu-left {
    position: absolute;
    height: 100%;
    padding-left: 10px;
    min-width: 200px;
  }
  .navbar .middlebar ul.middlebar-menu-left li {
    display: inline-block;
    vertical-align: middle;
    height: 75px;
    font-size: 12px;
    border: none;
  }
  .navbar .middlebar ul.middlebar-menu-left li a {
    display: block;
    height: 100%;
    color: #8ac0cf;
  }
  .navbar .middlebar ul.middlebar-menu-left li a:hover {
    color: #fab568;
  }
  .navbar .middlebar ul.middlebar-menu-left li a:active {
    color: #fab568;
  }
  .navbar .middlebar ul.middlebar-menu-left li a:focus {
    color: #fab568;
  }
  .navbar .middlebar ul.middlebar-menu-right {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
  .navbar .middlebar ul.middlebar-menu-right > li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  .navbar .middlebar ul.middlebar-menu-right > li:first-child {
    border-left: 1px solid #ffffff;
  }
  .navbar .middlebar ul.middlebar-menu-right > li #trouwkaarten:hover {
    border-bottom-color: #f9bdb2;
  }
  .navbar .middlebar ul.middlebar-menu-right > li #trouwkaarten.active {
    background: #f9bdb2;
    color: #262626;
    border-bottom-color: #ec9283;
  }
  .navbar .middlebar ul.middlebar-menu-right > li #geboortekaartjes:hover {
    border-bottom-color: #419186;
  }
  .navbar .middlebar ul.middlebar-menu-right > li #geboortekaartjes.active {
    background: #65b9ae;
    border-bottom-color: #419186;
    color: #fff;
  }
  .navbar .middlebar ul.middlebar-menu-right > li #uitnodiging-maken:hover {
    border-bottom-color: #87b0cc;
  }
  .navbar .middlebar ul.middlebar-menu-right > li #uitnodiging-maken.active {
    background: #87b0cc;
    border-bottom-color: #6090b5;
    color: #fff;
  }
  .navbar .middlebar ul.middlebar-menu-right > li #rouwkaarten:hover {
    border-bottom-color: #c8c5b5;
  }
  .navbar .middlebar ul.middlebar-menu-right > li #rouwkaarten.active {
    background: #c8c5b5;
    border-bottom-color: #afab96;
    color: #fff;
  }
  .navbar .middlebar ul.middlebar-menu-right > li #wenskaarten:hover {
    border-bottom-color: #fee09b;
  }
  .navbar .middlebar ul.middlebar-menu-right > li #wenskaarten.active {
    background: #fee09b;
    color: #262626;
    border-bottom-color: #f1c55f;
  }
  .navbar .middlebar ul.middlebar-menu-right > li > a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    border-bottom: 3px solid #e5e9e9;
    color: #262626;
    background-color: #f8f9f9;
    overflow: hidden;
    padding: 0px 13px 0px 13px;
    line-height: 38px;
    font-size: 16px;
    font-family: 'Trebuchet MS', Verdana;
  }
  .navbar .middlebar ul.middlebar-menu-right > li > a:active {
    color: inherit;
  }
  .navbar .middlebar ul.middlebar-menu-right > li > a:focus {
    color: inherit;
  }
  .navbar .middlebar ul.middlebar-menu-right > li > a:hover {
    text-decoration: none;
  }
  .navbar .middlebar ul.middlebar-menu-right > li > ul {
    display: none;
  }
  .navbar .middlebar ul.middlebar-menu-right > li i {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px;
  }
  .navbar .middlebar .navbar-search-field {
    position: absolute;
    background-color: #8ac0cf;
    top: 0px;
    right: 8px;
    width: 300px;
    z-index: 89;
    overflow: hidden;
    padding: 5px;
  }
  .navbar .middlebar .navbar-search-field .search-button-field {
    float: right;
    display: block;
    height: 65px;
    border: none;
    width: auto;
    padding: 0px 10px 0px 15px;
    cursor: pointer;
    background-color: transparent;
  }
  .navbar .middlebar .navbar-search-field .search-input-field {
    overflow: hidden;
  }
  .navbar .middlebar .navbar-search-field .search-input-field input[type="text"] {
    display: block;
    border: none;
    width: 100%;
    height: 65px;
    padding: 0px 10px;
  }
}
@media only screen and (max-width: 992px) {
  .logo {
    display: none;
  }
  .logosmall {
    display: block !important;
    max-height: 49px;
    max-width: 100% !important;
    padding-left: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
  }
}
@media only screen and (width: 320px) {
  .logosmall {
    max-height: 40px !important;
  }
}
@media only screen and (max-width: 319px) {
  .logosmall {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) {
  a.logo {
    position: absolute;
    display: block;
    height: 62px;
    top: -7px;
    left: 0px;
  }
  a.logo img {
    position: relative;
  }
  a.logo:hover {
    opacity: 0.5;
    transition: all 0.3s ease-out;
  }
  a.logo:active {
    color: #f38925;
  }
  a.logo:focus {
    color: #f38925;
  }
}
.navbar-fixed {
  position: fixed;
}
.sticky-link {
  display: block;
  position: fixed;
  width: 240px;
  height: 40px;
  bottom: 0%;
  right: 0%;
  color: #fff;
  background: url(/img/bt-banner-01.png) no-repeat;
  z-index: 9999;
}
.sticky-link a {
  color: #fff;
  padding: 15px 10px 10px 6px;
  display: block;
  font-size: 12px;
  text-decoration: none !important;
}
.field-horizontal .field-group {
  margin-right: -15px;
  margin-left: -15px;
}
.field-horizontal .field-label {
  padding-top: 7px;
  margin-bottom: 0;
  text-align: right;
}
.field-group {
  margin-bottom: 15px;
}
.field-group .field-input-group {
  margin-bottom: 0;
}
textarea.field-input {
  height: auto;
}
.field-input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  margin-bottom: 15px;
  width: 100%;
}
.field-input-group .field-input-group-addon {
  display: table-cell;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
}
.field-input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
}
.field-input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.field-input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
select.field-input {
  background-color: #8ac0cf;
}
.button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: none;
  border-bottom: 2px solid #759ba6;
  overflow: hidden;
  color: #ffffff;
  background-color: #8ac0cf;
}
.button i {
  display: inline-block;
  vertical-align: middle;
}
.button:hover {
  background-color: #74adbd;
}
.button-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: 5px;
  margin-bottom: 5px;
}
.button-group .button {
  position: relative;
  float: left;
  border-radius: 0;
}
.button-group .button:first-child {
  margin-left: 0;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.button-group .button:last-child {
  margin-left: 0;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
.button-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.button-group-vertical > .button {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  border-radius: 0!important;
}
.button-group-vertical-wide {
  margin: 0px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}
.button-group-vertical-wide > .button {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  border-radius: 0!important;
}
.button-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}
.button-group-justified > .button {
  display: table-cell;
  float: none;
  width: 1%;
}
.button-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
}
.button-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.button-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.button-lg-close {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.button-xlg {
  padding: 12px 18px;
  font-size: 26px;
  line-height: 1.3333333;
}
.button-link {
  display: block;
  color: #F9861C;
  border-color: transparent;
  background-color: transparent;
}
.button-link:hover,
.button-link:active,
.button-link:focus {
  border-color: transparent;
}
.button-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
.button-default:hover {
  color: #555555;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.button-success {
  color: #ffffff;
  background-color: #8ac0cf;
}
.button-success:hover {
  background-color: #74adbd;
}
.button-warning {
  color: #ffffff;
  background-color: #f6c61e;
  border-color: #fa9485;
}
.button-warning:hover {
  color: #555555;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.button-danger {
  color: #ffffff !important;
  background-color: #E60000;
  border-color: #fa9485;
}
.button-danger:hover {
  text-decoration: none;
  color: #555555;
  background-color: #B30000;
  border-color: #fa9485;
}
.button-info {
  color: #ffffff;
  background-color: #f5871e;
  border-color: #f6871f;
}
.button-info:hover {
  color: #555555;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.button-primary {
  color: #ffffff;
  background-color: #6fd4ce;
  border-color: #6fd4ce;
}
.button-primary:hover {
  color: #555555;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.button-green {
  color: #ffffff;
  background-color: #8BCCC6;
  border: none;
}
.button-pink {
  color: #262626;
  background-color: #FAC4BA;
  border: none;
}
.button-blue {
  color: #fffff;
  background-color: #87B0CC;
  border: none;
}
.button-grey {
  color: #fffff;
  background-color: #C8C5B5;
  border: none;
}
.button-yellow {
  color: #262626;
  background-color: #FEE09B;
  border: none;
}
/* BUTTON BLOCKS */
.button-block {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 25px;
  height: 110px;
  background-color: transparent;
}
.button-block a.active {
  background-color: #ffddbf;
}
.button-block > a {
  display: table;
  width: 100%;
  height: 100%;
  background-color: #8ac0cf;
  padding: 0 20px;
  text-align: center;
}
.button-block > a:hover {
  background-color: #ffddbf;
}
.button-block > a:active {
  background-color: #ffddbf;
}
.button-block > a:focus {
  background-color: #ffddbf;
}
.button-block > a .button-block-content {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
.button-block > a .button-block-title {
  display: block;
  font-size: 18px;
  margin-top: 0;
  color: #f68620;
  margin-bottom: 0;
}
.button-block > a .button-block-title i {
  display: inline-block;
  vertical-align: middle;
}
.button-block > a .button-block-text {
  display: block;
  font-size: 0.8em;
  color: #666668;
}
.button-block-img {
  height: 180px;
  background-color: transparent;
}
.button-block-img > a {
  background-color: transparent;
  max-height: 210px;
}
.button-block-img > a:hover {
  background-color: transparent;
  opacity: 0.9;
}
.button-block-img > a:active {
  background-color: transparent;
  opacity: 0.9;
}
.button-block-img > a:focus {
  background-color: transparent;
  opacity: 0.9;
}
.button-block-img > a img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: -99;
}
.button-block-img > a .button-block-title {
  display: block;
  color: #ffffff;
  font-size: 1.4em;
}
.button-block-img > a .button-block-text {
  display: block;
  font-size: 1.0em;
  color: #ffffff;
}
.card-block {
  position: relative;
  display: block;
  border: 1px solid #e4e8e8;
  background-color: #fdf3e9;
  margin-bottom: 25px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 99;
}
.card-block img {
  height: 150px;
}
.card-block:hover > img {
  opacity: 0.8;
}
.card-block:hover .card-block-title,
.card-block:hover .card-block-footer {
  opacity: 1;
}
.card-block .card-block-title,
.card-block .card-block-footer {
  display: block;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  opacity: 0.8;
}
.card-block .card-block-title {
  color: #f68620;
  font-size: 1.2em;
  font-weight: bold;
}
.card-block .card-block-footer {
  color: #f68620;
  font-size: 15px;
  margin-top: 10px;
}
/* LIST-VERTICAL */
.list {
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}
.list .list-toggle .list-toggle-text {
  display: inline-block;
  vertical-align: middle;
  color: #555;
  font-weight: 600;
  padding-left: 5px;
  padding-right: 5px;
}
.list .list-toggle .list-toggle-text .icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.5em!important;
}
.list-vertical li.active > a {
  color: #575757;
}
.list-vertical li a {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: 5px;
  color: #404040;
}
.list-vertical li a:hover {
  text-decoration: underline !important;
}
.list-vertical li a:active {
  color: #575757;
}
.list-vertical li a:focus {
  color: #575757;
}
.list-vertical li ul {
  margin: 0;
  border-left: 2px solid #fbc095;
  padding-left: 15px;
  margin-left: 5px;
}
.list-vertical li ul li a {
  color: #db965b;
}
.list-vertical li ul li a:hover {
  color: #575757;
}
.list-vertical li ul li a:active {
  color: #575757;
}
.list-vertical li ul li a:focus {
  color: #575757;
}
/* END LIST-VERTICAL */
.list-decimal {
  list-style-type: decimal;
}
/* BREADCRUMB */
#crumbs {
  padding: 8px 5px;
  margin-bottom: 5px;
  list-style: none;
  border-radius: 4px;
  font-size: 11px;
}
#crumbs li {
  display: inline-block;
  vertical-align: middle;
}
#crumbs li:after {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  padding: 0 5px;
  font-family: 'kcicons';
  content: 'j';
  font-size: 0.5em;
}
#crumbs li:last-child:after,
#crumbs li:only-child :after {
  content: '';
}
#crumbs li a.active {
  color: #8ac0cf;
}
#crumbs li a {
  color: inherit;
  font-size: 12px;
}
#crumbs li a:hover {
  color: #ffddbf;
}
#crumbs li a:active {
  color: #8ac0cf;
}
#crumbs li a:focus {
  color: #ffddbf;
}
.accordion {
  list-style-type: none;
  padding: 0px 0px 0px 0px;
  border: 1px solid #dbefed;
  background-color: transparent;
  margin-top: 10px;
}
.accordion > .active {
  color: #575757 !important;
}
.accordion .show {
  display: block!important;
}
.accordion.small {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.accordion > a {
  display: block;
  vertical-align: middle;
  background-color: transparent;
  padding: 10px 10px;
}
.accordion > a > i {
  float: right;
  font-size: 12px;
  color: #dbefed;
}
.accordion > a > span {
  color: #df8070;
  font-size: 20px;
  line-height: 20px;
}
.accordion .accordion-button:hover {
  background-color: #f8f9f9;
  text-decoration: none;
}
.accordion .accordion-body {
  display: none;
  padding: 5px;
}
.accordion .accordion-body ul {
  margin-bottom: 0px;
  margin-top: 0px;
}
.accordion .accordion-body ul li a {
  padding: 5px 0px 5px 5px;
}
.accordion.prijs {
  border-top: none;
  border-left: none;
  border-right: none;
}
.box {
  position: relative;
  padding: 0;
  margin-bottom: 15px;
  background-color: #ffffff;
  border-radius: 15px;
  border: 1px solid #e4e8e8;
  overflow: hidden;
}
.box .box-body {
  background-color: #ffffff;
  margin: 0;
  padding: 25px;
}
.box .box-footer {
  background-color: #ffffff;
  margin: 0;
  padding: 25px;
  border-top: 1px solid #e4e8e8;
  clear: both;
}
.box-default .box-body {
  background-color: #ffffff;
}
.box-default .box-footer {
  background-color: #ffffff;
}
.box-primary .box-body {
  background-color: #ffffff;
}
.box-primary .box-footer {
  background-color: #f2ecec;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: #ffffff;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
  background-color: #fbf7f8;
  color: inherit;
}
.table > thead > tr > th,
.table tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}
.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}
.table-unstyled {
  width: 100%;
  margin-bottom: 20px;
  border: none;
}
.table-unstyled > thead > tr > th {
  text-align: left;
  vertical-align: bottom;
  border-bottom: none;
  background-color: inherit;
  color: inherit;
}
.table-unstyled > thead > tr > th,
.table-unstyled tbody > tr > th,
.table-unstyled > tfoot > tr > th,
.table-unstyled > thead > tr > td,
.table-unstyled > tbody > tr > td,
.table-unstyled > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: none;
}
@media screen and (max-width: 768px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
  }
}
.thumbnail {
  position: relative;
  padding: 10px 10px 0px 10px;
  border-radius: 10px;
  background-color: #ffffff;
  border: 1px solid #dfe5e5;
  margin-bottom: 10px;
  text-align: left;
  cursor: pointer;
}
.thumbnail:hover img {
  opacity: 0.5;
  transition: all 0.3s ease-out;
}
.thumbnail:hover .thumbnail-footer {
  opacity: 1;
}
.thumbnail img {
  width: 100%;
}
.thumbnail .thumbnail-footer {
  width: 100%;
  margin-top: 5px;
  padding: 5px;
  background-color: #ffffff;
  opacity: 0.8;
}
.thumbnail .thumbnail-footer h3 {
  margin: 0 auto;
  color: #f59a4b;
}
.thumbnail .thumbnail-footer p {
  color: inherit;
}
.thumbnail-fluid {
  padding: 0!important;
}
.thumbnail-fluid .thumbnail-footer {
  margin-top: 0;
  background-color: #8ac0cf;
}
.thumbnail-fluid .thumbnail-footer h3 {
  color: #f59a4b;
}
.thumbnail-fluid .thumbnail-footer p {
  color: inherit;
}
.thumbnail-fluid .thumbnail-img {
  background-color: #cccccc;
  border: none;
}
.thumbnail-button {
  padding: 0!important;
  border-radius: 0px;
  border: 0px solid transparent;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.thumbnail-button .thumbnail-button-button {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: transparent;
  color: #fff;
  padding: 15px 20px 0 20px;
  height: 45px;
  font-size: 18px;
  font-family: 'Varela Round', sans-serif;
}
.thumbnail-button .thumbnail-button-button .bt02 {
  background: url('/img/bg-button/02.png') no-repeat;
}
.thumbnail-button .bt01 {
  background: url('/img/bg-button/01.png') no-repeat;
}
.thumbnail-button .bt04 {
  background: url('/img/bg-button/02.png') no-repeat;
}
.thumbnail-button .bt02 {
  background: url('/img/bg-button/03.png') no-repeat;
  color: #262626;
}
.thumbnail-button .bt03 {
  background: url('/img/bg-button/04.png') no-repeat;
}
.thumbnail-button .bt05 {
  background: url('/img/bg-button/05.png') no-repeat;
  color: #262626;
}
.thumbnail-button .bt06 {
  background: url('/img/bg-button/06.png') no-repeat;
  color: #262626;
  font-size: 13px;
}
@media only screen and (max-width: 768px) {
  .thumbnail-button {
    height: 168px;
  }
}
@media only screen and (max-width: 480px) {
  .thumbnail-button {
    max-height: 140px;
  }
}
.thumbnail-button > img {
  display: block;
  margin: auto;
}
@media only screen and (max-width: 480px) {
  .thumbnail-button > img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
  }
}
.thumbnail-button > .banner {
  width: auto;
  float: right;
}
@media only screen and (max-width: 768px) and (min-width: 480px) {
  .tb-small {
    max-height: 115px;
  }
  .tb-small .thumbnail-button-button {
    font-size: 12px;
    padding: 10px 5px 0px 10px;
    height: 35px;
  }
}
.thumbnail-banner {
  margin-bottom: 10px;
  position: relative;
  padding: 0!important;
  border-radius: 0px;
  border: 0px solid transparent;
  width: 100%;
  height: 100%;
  cursor: default;
  overflow: hidden;
}
.thumbnail-banner .thumbnail-banner-button {
  position: absolute;
  top: 156px;
  left: 485px;
  background-color: transparent;
  background: url('/img/bt-banner-01.png') no-repeat;
  color: #fff;
  padding: 12px 40px 0 13px;
  height: 45px;
  font-size: 15px;
  width: 233px;
}
.thumbnail-banner .thumbnail-banner-button:hover {
  background-position: 0 -55px;
}
.thumbnail-banner .thumbnail-banner-button:active {
  background-position: 0 -110px;
  line-height: 30px;
}
@media only screen and (max-width: 768px) {
  .thumbnail-banner .thumbnail-banner-button {
    display: none !important;
  }
}
@media only screen and (max-width: 768px) {
  .thumbnail-banner {
    height: 220px;
  }
}
@media only screen and (max-width: 480px) {
  .thumbnail-banner {
    max-height: 140px;
  }
}
.thumbnail-banner > img {
  height: 100%;
  display: block;
  margin: auto;
  width: auto;
  float: right;
}
@media only screen and (max-width: 480px) {
  .thumbnail-banner > img {
    max-height: 140px;
  }
}
.thumbnail-slider {
  position: relative;
  padding: 20px 5px 5px;
  border-radius: 10px;
  background-color: #fdf3e9;
  border: 1px solid #e4e8e8;
  margin-bottom: 25px;
  margin-top: 25px;
  text-align: left;
  width: 100%;
}
.thumbnail-slider .thumbnail-slider-top {
  position: absolute;
  left: 0;
  width: 100%;
  top: -15px;
  z-index: 3;
}
.thumbnail-slider .thumbnail-slider-left {
  left: 0;
}
.thumbnail-slider .thumbnail-slider-right {
  right: 0;
}
.thumbnail-slider .thumbnail-slider-left,
.thumbnail-slider .thumbnail-slider-right {
  position: absolute;
  display: block;
  top: 0;
  height: 100%;
  z-index: 2;
}
.thumbnail-slider .thumbnail-slider-left > a,
.thumbnail-slider .thumbnail-slider-right > a {
  display: table;
  height: 100%;
  padding: 0 10px;
  margin-top: -20px;
}
.thumbnail-slider .thumbnail-slider-left > a i,
.thumbnail-slider .thumbnail-slider-right > a i {
  display: table-cell;
  vertical-align: middle;
}
.thumbnail-slider .thumbnail-slider-middle img {
  position: relative;
  left: 0px;
  right: 0px;
}
.thumbnail-slider .thumbnail-slider-bottom {
  position: relative;
  z-index: 33;
}
.thumbnail-people {
  position: relative;
  background-color: transparent;
  border: 1px solid transparent;
  margin-bottom: 15px;
  text-align: left;
  overflow: hidden;
  border-radius: 10px;
}
.thumbnail-people:hover .thumbnail-people-img {
  opacity: 0.5;
}
.thumbnail-people:hover .thumbnail-people-label {
  opacity: 1;
}
.thumbnail-people a {
  display: block;
}
.thumbnail-people .thumbnail-people-img img {
  width: 100%;
}
.thumbnail-people .thumbnail-people-label {
  width: 100%;
  margin-top: 5px;
  padding: 5px 0;
  background-color: transparent;
  opacity: 0.8;
}
.thumbnail-people .thumbnail-people-label h3 {
  margin-top: 0;
  margin-bottom: 0;
  color: #f59a4b;
  font-size: 18px;
}
.thumbnail-people .thumbnail-people-label p {
  margin-top: 0;
  margin-bottom: 0px;
  color: inherit;
  font-size: 14px;
}
.thumbnail-card {
  position: relative;
  background-color: #ffffff;
  border: 1px solid transparent;
  padding: 5px;
  margin-bottom: 25px;
  text-align: left;
  overflow: hidden;
}
.thumbnail-card:hover .thumbnail-card-img {
  opacity: 0.5;
}
.thumbnail-card:hover .thumbnail-card-label {
  opacity: 1;
}
.thumbnail-card a {
  display: block;
}
.thumbnail-card .thumbnail-card-label {
  width: 100%;
  padding: 5px;
  margin: 0;
  background-color: transparent;
  opacity: 0.8;
}
.thumbnail-card .thumbnail-card-label a {
  display: inline-block;
  vertical-align: middle;
}
.thumbnail-card .thumbnail-card-label a:hover {
  transform: scale(1.1);
}
.thumbnail-card .thumbnail-card-label a i {
  display: inline-block;
  vertical-align: middle;
}
.thumbnail-scroller {
  position: relative;
  width: 100%;
  background: url(https://hippe-geboortekaartjes.nl/img/prevLine.png) no-repeat top center;
  background-size: 100%;
  background-color: transparent;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 10px;
  padding-top: 20px;
}
.thumbnail-scroller .thumbnail-scroller-left {
  left: 0;
}
.thumbnail-scroller .thumbnail-scroller-right {
  right: 0;
}
.thumbnail-scroller .thumbnail-scroller-left,
.thumbnail-scroller .thumbnail-scroller-right {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 20;
}
.thumbnail-scroller .thumbnail-scroller-left > a,
.thumbnail-scroller .thumbnail-scroller-right > a {
  display: table;
  height: 100%;
  padding: 0 10px;
}
.thumbnail-scroller .thumbnail-scroller-left > a i,
.thumbnail-scroller .thumbnail-scroller-right > a i {
  display: table-cell;
  vertical-align: middle;
}
.thumbnail-scroller a {
  display: inline-block;
  vertical-align: middle;
}
.carousel {
  position: relative;
  border: 1px solid transparent;
  margin-bottom: 15px;
  overflow: hidden;
  background-color: transparent;
}
.carousel:hover .carousel-left,
.carousel:hover .carousel-right {
  visibility: visible;
  opacity: 1;
}
.carousel .carousel-middle > img {
  width: 100%;
}
.carousel .carousel-left {
  left: 0;
}
.carousel .carousel-right {
  right: 0;
}
.carousel .carousel-left,
.carousel .carousel-right {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 220;
}
.carousel .carousel-left > a,
.carousel .carousel-right > a {
  display: table;
  height: 100%;
  padding: 0 10px;
}
.carousel .carousel-left > a i,
.carousel .carousel-right > a i {
  display: table-cell;
  vertical-align: middle;
}
.carousel a {
  display: inline-block;
  vertical-align: middle;
}
ul.pills {
  padding-left: 0;
  margin-bottom: 10px;
  list-style: none;
  overflow: hidden;
  margin-bottom: 5px;
  border-bottom: 1px solid #cccccc;
  background-color: transparent;
}
ul.pills > li {
  position: relative;
  display: block;
  float: left;
  margin-bottom: -1px;
  margin-right: 5px;
  border: 1px solid #cccccc;
  z-index: 999;
}
ul.pills > li > a {
  position: relative;
  display: block;
  padding: 5px 10px;
  color: #e0b592;
  background-color: #ffeace;
}
ul.pills > li > a:hover {
  background-color: #feddbd;
  color: inherit;
}
ul.pills > li > a:active {
  background-color: #feddbd;
  color: inherit;
}
ul.pills > li > a:focus {
  background-color: #feddbd;
  color: inherit;
}
.visual {
  position: relative;
  display: block;
  border-bottom: 1px solid #cccccc;
  background: url(https://hippe-geboortekaartjes.nl/img/bg-visual.png) repeat 0 0;
  background-color: transparent;
  overflow: hidden;
  min-height: 50px;
}
.visual visual-content {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .visual {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .visual .visual-content-left,
  .visual .visual-content-right {
    display: none;
  }
  .visual .visual-content-left img,
  .visual .visual-content-right img {
    margin-top: 0;
  }
}
@media screen and (min-width: 992px) {
  .visual .visual-content-left,
  .visual .visual-content-right {
    display: block;
  }
  .visual .visual-content-left img,
  .visual .visual-content-right img {
    margin-top: 100%;
  }
}
.visual-background-1 {
  background: url(https://hippe-geboortekaartjes.nl/img/bg-visual.png) repeat 0 0;
}
.visual-background-2 {
  min-height: 400px;
  background: url(https://hippe-geboortekaartjes.nl/img/zmbanner.jpg) top center;
}
#footer {
  padding-top: 20px;
}
.footer1 {
  padding-bottom: 20px;
  min-height: 140px;
  padding-left: 10px;
  padding-right: 10px;
}
.footer1 a {
  line-height: 24px;
  color: #262626;
  font-size: 13px;
  font-family: "Trebuchet MS", Verdana;
  text-decoration: none !important;
}
.footer1 a:hover {
  text-decoration: underline !important;
}
@media only screen and (max-width: 480px) {
  .footer1 .mobile-only {
    display: block;
  }
}
.footer1 .mobile-only span {
  font-family: 'Dawning of a New Day';
  font-size: 39px;
  line-height: 65px;
}
.footer1 .mobile-only p {
  font-size: 17px;
}
.footer2 {
  background: #e8f2f5;
  text-align: center;
}
.footer2 .copyright {
  display: inline-block;
  line-height: 18px;
  margin-top: 14px;
  margin-bottom: 14px;
  color: #8ac0cf;
  font-size: 12px;
  font-family: 'Trebuchet MS', Verdana;
}
@media only screen and (max-width: 992px) {
  .footer2 {
    padding-bottom: 40px;
  }
}
.footer2 .revTitle {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 0 0 10px 0 !important;
}
.footer2 a {
  background: url(/img/line-topmenu.png) right top no-repeat;
  padding-left: 6px;
  padding-right: 8px;
  color: #8ac0cf;
}
.footer2 a:hover {
  text-decoration: underline;
  color: #8ac0cf;
}
@media only screen and (max-width: 480px) {
  .footer2 .mobile-only {
    display: inline;
  }
}
.footer2 .rating {
  padding-right: 7px;
  color: grey;
}
#social-block {
  width: 145px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
#social-block .label {
  display: block;
  background: url('/img/social-ico.png') no-repeat;
  height: 39px;
}
#social-block .social {
  height: 38px;
  margin: 8px 0 0;
  padding: 0;
}
#social-block .social li {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
}
#social-block .social a {
  background: url(/img/social-ico.png) no-repeat;
  float: left;
  width: 38px;
  height: 38px;
  margin-right: 9px;
  text-indent: -9999px;
}
#social-block .social .fb a {
  background-position: 0 -47px;
}
#social-block .social .fb a:hover {
  background-position: 0 -95px;
}
#social-block .social .pt a {
  background-position: -47px -47px;
}
#social-block .social .pt a:hover {
  background-position: -47px -95px;
}
#social-block .social .tt a {
  background-position: -93px -47px;
}
#social-block .social .tt a:hover {
  background-position: -93px -95px;
}
#topbanner {
  position: relative;
  padding-bottom: 0px;
}
@media only screen and (max-width: 480px) {
  #topbanner .topbanner-title {
    display: none;
  }
}
@media only screen and (min-width: 481px) {
  #topbanner .topbanner-title-small {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  #topbanner .topbanner-p {
    display: none;
  }
}
#topbanner .topbanner-text {
  position: absolute;
  top: 20%;
  left: 3%;
}
.top-title-block {
  background: #f8f9f9 url(/img/bg_top_title.png) no-repeat;
  background-position-x: right !important;
  padding: 40px 0 4px 17px;
  height: 77px;
  color: #8ac0cf;
}
@media only screen and (max-width: 480px) {
  .top-title-block {
    font-size: 23px !important;
    padding-top: 45px;
  }
}
.meer {
  border-top: 2px solid #dbefed;
  margin-top: 5px;
}
.meer a {
  display: block;
  padding: 10px 30px 10px 5px;
  text-decoration: none !important;
  background: rgba(0, 0, 0, 0) url("/img/arrow.png") no-repeat scroll right 14px;
}
.meer a h3 {
  margin: 0px;
}
.meer a.open {
  background: url(/img/arrow.png) no-repeat right -46px;
}
#card_previews {
  margin-left: -8px;
  margin-right: -8px;
}
@media only screen and (max-width: 480px) {
  #card_previews img {
    width: 159px !important;
    height: auto !important;
  }
}
#photo {
  margin-top: 20px;
}
#login_nieuwbrief {
  font-size: 12px;
  margin-top: 9px;
  width: 295px !important;
}
#pw_recovery,
#registreer,
#login {
  display: inline-block;
  background: #fff;
  width: 340px;
  padding: 0;
  border: 1px solid #dbefed;
  margin: 0;
  height: auto;
  font-size: 14px;
  padding: 10px;
  line-height: 22px;
  margin-bottom: 20px;
  vertical-align: top;
}
#pw_recovery label,
#registreer label,
#login label {
  font-family: "Trebuchet MS", Verdana;
  font-weight: 200;
}
#body_login #pagebody h2 {
  margin: 0;
  margin-bottom: 15px;
  padding: 10px 0 0 10px;
  color: #8ac0cf !important;
  font-size: 18px;
  font-family: 'GillSansMT';
}
/*
#registreer {
    float:right;
    @media only screen and (max-width : (@sm - 1px)) {
        float:left;
    }
}
#login {
    float:left;
}

#pw_recovery {
    float:left !important;
}
*/
#body_login #pagebody input[type="password"],
#body_login #pagebody input[type="text"] {
  border-left: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  border-right: 1px solid #b4b4b4;
  border-top: 1px solid #b4b4b4;
  padding: 8px 5px;
  color: #262626;
  font-size: 14px;
  -moz-box-shadow: inset -1px 1px 0 0 #d9d9d9;
  -webkit-box-shadow: inset -1px 1px 0 0 #d9d9d9;
  box-shadow: inset -1px 1px 0 0 #d9d9d9;
  width: 177px;
}
#body_design .extra {
  background-color: #ecf0f0;
  padding: 9px 10px 12px 20px;
  text-align: left;
  line-height: 20px;
  font-family: Verdana, Geneva, sans-serif;
}
#body_design .extra span {
  display: block;
  color: #898989;
  font-size: 12px;
}
#body_design .extra .ico-list {
  padding-top: 15px;
  position: relative;
}
#body_design .extra .ico-list .tooltip {
  width: 310px;
}
#body_design .extra .ico-list .tooltip span {
  padding: 0 13px;
  background: #d72a31;
  height: 34px;
  line-height: 34px;
  color: #fff !important;
  font-size: 12px;
  display: inline-block;
}
#body_design .extra .ico-list i {
  background: url(/img/card-detail/ico-up.png) no-repeat 0 0;
  position: absolute;
  top: 49px;
  width: 16px;
  height: 15px;
}
#body_design .extra .ico-list a {
  margin-right: 10px;
}
#samen-form {
  background: #ebf4f6;
  padding: 32px 22px 0;
}
#samen-form h3 {
  color: #7dadba;
  font-size: 22px;
}
.under-title {
  border-bottom: 1px solid #f0f2f2;
}
.usps {
  text-transform: uppercase;
  color: #8ac0cf;
  font-size: 10px;
  text-align: right;
}
#pagebody {
  margin-top: 10px;
}
@font-face {
  font-family: 'GillSansMT';
  src: url('/css/fonts/gillsansmt.eot');
  src: url('/css/fonts/gillsansmt.eot') format('embedded-opentype'), url('/css/fonts/gillsansmt.woff') format('woff'), url('/css/fonts/gillsansmt.ttf') format('truetype'), url('/css/fonts/gillsansmt.svg#GillSansMT') format('svg');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(http://themes.googleusercontent.com/static/fonts/roboto/v11/vzIUHo9z-oJ4WgkpPOtg1_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://themes.googleusercontent.com/static/fonts/roboto/v11/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}
@font-face {
  font-family: 'Coming Soon';
  font-style: normal;
  font-weight: 400;
  src: local('Coming Soon'), local('ComingSoon'), url(http://themes.googleusercontent.com/static/fonts/comingsoon/v4/myblyOycMnPMGjfPG-DzP4bN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Dawning of a New Day';
  font-style: normal;
  font-weight: 400;
  src: local('Dawning of a New Day'), local('DawningofaNewDay'), url(http://themes.googleusercontent.com/static/fonts/dawningofanewday/v5/JiDsRhiKZt8uz3NJ5xA06sI8uESXD0Pyby-WfK8NSPc.woff) format('woff');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans'), local('JosefinSans'), url(http://themes.googleusercontent.com/static/fonts/josefinsans/v5/xgzbb53t8j-Mo-vYa23n5nhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Josefin Sans Bold'), local('JosefinSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/josefinsans/v5/C6HYlRF50SGJq1XyXj04z3l4twXkwp3_u9ZoePkT564.woff) format('woff');
}
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: local('Amatic SC Regular'), local('AmaticSC-Regular'), url(http://themes.googleusercontent.com/static/fonts/amaticsc/v4/DPPfSFKxRTXvae2bKDzp5D8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 700;
  src: local('Amatic SC Bold'), local('AmaticSC-Bold'), url(http://themes.googleusercontent.com/static/fonts/amaticsc/v4/IDnkRTPGcrSVo50UyYNK73hCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
body.geboortekaartjes h1 {
  color: #919191;
  font-size: 32px;
  font-family: 'Neucha', cursive !important;
}
body.geboortekaartjes h3 {
  font-family: "Neucha", cursive;
  color: #65b9ae;
}
body.geboortekaartjes h2 {
  font-size: 20px;
  color: #919191;
  font-family: 'Neucha', cursive !important;
}
body.geboortekaartjes h4 {
  font-size: 16px;
  font-family: 'Neucha', cursive;
  color: #919191;
}
body.geboortekaartjes .thumbnail-button-button {
  color: #65b9ae;
  font-size: 15px;
}
body.geboortekaartjes p a {
  color: #65b9ae;
  text-decoration: underline;
}
body.geboortekaartjes p a:hover {
  text-decoration: none;
}
body.geboortekaartjes .accordion-button span {
  color: #686973;
  text-transform: uppercase;
  font-family: "Neucha", cursive;
  font-size: 20px;
}
body.geboortekaartjes .accordion-body a {
  color: #65b9ae;
}
body.geboortekaartjes .topbar a,
body.geboortekaartjes .topbar i,
body.geboortekaartjes .topbar span {
  color: #65b9ae !important;
}
body.geboortekaartjes .topbar #headerbasket {
  background: #65b9ae !important;
}
body.geboortekaartjes .topbar #headerbasket a,
body.geboortekaartjes .topbar #headerbasket i,
body.geboortekaartjes .topbar #headerbasket span {
  color: #fff !important;
}
body.geboortekaartjes #topbanner h2 {
  font-family: 'Neucha', cursive;
  font-size: 25px;
  margin: 0px;
  color: #686973;
}
body.geboortekaartjes #topbanner h2 span {
  color: #65b9ae;
}
body.trouwkaarten h1 {
  color: #df8070;
  font-size: 32px;
  font-family: 'Josefin Sans';
}
body.trouwkaarten h3 {
  line-height: 24px;
  font-size: 23px;
  font-family: 'Josefin Sans';
}
body.trouwkaarten h2 {
  font-size: 36px;
  color: #df8070;
  font-family: 'Rouge Script';
}
body.trouwkaarten .thumbnail-button-button {
  color: #262626;
  font-family: 'Josefin Sans';
  font-size: 18px;
}
body.trouwkaarten p a {
  color: #f9bdb2;
  text-decoration: underline;
}
body.trouwkaarten p a:hover {
  text-decoration: none;
}
body.trouwkaarten .accordion-button span {
  color: #df8070;
  font-family: 'Rouge Script';
  font-size: 36px;
}
body.trouwkaarten .topbar a,
body.trouwkaarten .topbar i,
body.trouwkaarten .topbar span {
  color: #f9bdb2 !important;
}
body.trouwkaarten .topbar #headerbasket {
  background: #f9bdb2  !important;
}
body.trouwkaarten .topbar #headerbasket a,
body.trouwkaarten .topbar #headerbasket i,
body.trouwkaarten .topbar #headerbasket span {
  color: #fff !important;
}
body.trouwkaarten #topbanner h2 {
  font-size: 40px;
  font-family: 'Rouge Script';
  color: #262626;
  margin-bottom: 10px;
}
body.trouwkaarten #topbanner h2 span {
  color: #f0848d;
}
body.uitnodiging-maken h1 {
  color: #808385;
  font-size: 38px;
  font-family: 'Amatic SC';
}
body.uitnodiging-maken h3 {
  font-family: 'The Girl Next Door', cursive;
}
body.uitnodiging-maken #topbanner h2 {
  font-size: 30px;
  font-family: 'The Girl Next Door', cursive;
  color: #777777;
  margin-bottom: 10px;
}
body.uitnodiging-maken #topbanner h2 span {
  color: #87b1cd;
}
body.uitnodiging-maken .accordion-button span {
  color: #87b1cd;
  font-family: 'The Girl Next Door';
  font-size: 23px;
}
body.uitnodiging-maken p a {
  color: #87b0cc;
  text-decoration: underline;
}
body.uitnodiging-maken p a:hover {
  text-decoration: none;
}
body.uitnodiging-maken .thumbnail-button-button {
  color: #000;
  font-size: 15px;
}
body.uitnodiging-maken h2 {
  font-size: 21px;
  color: #87b1cd;
  font-family: 'The Girl Next Door';
}
body.uitnodiging-maken .topbar a,
body.uitnodiging-maken .topbar i,
body.uitnodiging-maken .topbar span {
  color: #87b0cc !important;
}
body.uitnodiging-maken .topbar #headerbasket {
  background: #87b0cc  !important;
}
body.uitnodiging-maken .topbar #headerbasket a,
body.uitnodiging-maken .topbar #headerbasket i,
body.uitnodiging-maken .topbar #headerbasket span {
  color: #fff !important;
}
body.rouwkaarten h1 {
  color: #b3b09f;
  font-size: 26px;
  font-family: 'Open Sans';
}
body.rouwkaarten h2 {
  font-size: 30px;
  color: #404040;
  font-family: 'Amatic SC';
}
body.rouwkaarten .thumbnail-button-button {
  color: #6c6c6c;
  font-size: 15px;
  font-family: "Trebuchet MS", Verdana;
}
body.rouwkaarten p a {
  color: #b7ab9c;
  text-decoration: underline;
}
body.rouwkaarten p a:hover {
  text-decoration: none;
}
body.rouwkaarten .accordion-button span {
  color: #404040;
  font-family: 'Amatic SC';
  font-size: 30px;
}
body.rouwkaarten .accordion-body a {
  color: #b7ab9c;
}
body.rouwkaarten #topbanner h2 {
  font-family: 'Amatic SC';
  font-size: 50px;
  color: #404040;
  margin-top: 5px;
  margin-bottom: 10px;
}
body.rouwkaarten #topbanner h2 span {
  color: #87b1cd;
}
body.rouwkaarten .topbar a,
body.rouwkaarten .topbar i,
body.rouwkaarten .topbar span {
  color: #c8c5b5 !important ;
}
body.rouwkaarten .topbar #headerbasket {
  background: #c8c5b5  !important;
}
body.rouwkaarten .topbar #headerbasket a,
body.rouwkaarten .topbar #headerbasket i,
body.rouwkaarten .topbar #headerbasket span {
  color: #fff !important;
}
body.wenskaarten h1 {
  color: #4ca986;
  font-size: 32px;
  font-family: 'Dawning of a New Day';
}
body.wenskaarten #topbanner h2 {
  font-family: 'Dawning of a New Day';
  font-size: 42px;
  color: #fff;
  margin-top: 5px;
  margin-bottom: 10px;
}
body.wenskaarten #topbanner h2 span {
  color: #87b1cd;
}
body.wenskaarten #topbanner p {
  color: #fff;
}
body.wenskaarten .accordion-button span {
  color: #e2aa26;
  font-family: 'Shadows Into Light';
  font-size: 24px;
}
body.wenskaarten p a {
  color: #e2aa26;
  text-decoration: underline;
}
body.wenskaarten p a:hover {
  text-decoration: none;
}
body.wenskaarten .thumbnail-button-button {
  color: #404040;
  font-size: 15px;
  font-family: "Trebuchet MS", Verdana;
}
body.wenskaarten h2 {
  font-size: 24px;
  color: #e2aa26;
  font-family: 'Shadows Into Light';
}
body.wenskaarten .topbar a,
body.wenskaarten .topbar i,
body.wenskaarten .topbar span {
  color: #e2aa26 !important;
}
body.wenskaarten .topbar #headerbasket {
  background: #e2aa26  !important;
}
body.wenskaarten .topbar #headerbasket a,
body.wenskaarten .topbar #headerbasket i,
body.wenskaarten .topbar #headerbasket span {
  color: #fff !important;
}
body.subpage #service span {
  color: #ed1c24;
  font-family: Dawning of a New Day;
  font-size: 28px;
}
body.subpage .item {
  margin-top: 10px;
  max-width: 162px;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
}
body.subpage .item h2 {
  margin: 0px;
  padding: 0 0 0 5px;
  font-family: 'GillSansMT';
  font-size: 17px;
  color: #fff !important;
  background-repeat: no-repeat;
  background-image: url(/img/bg-cat.png);
}
body.subpage .item ul {
  border: 1px dashed #dbdbdb;
  border-top: none;
  padding: 10px 12px 13px;
  min-height: 190px;
}
body.subpage .item ul li {
  padding-bottom: 5px;
}
body.subpage .item.gebo h2 {
  background-position: 0 0;
}
body.subpage .item.trou h2 {
  background-position: 0 -38px;
}
body.subpage .item.uitn h2 {
  background-position: 0 -76px;
}
body.subpage .item.rouw h2 {
  background-position: 0 -116px;
}
body.subpage .item.wens h2 {
  background-position: 0 -154px;
}
body #card_previews > div {
  display: inline;
  vertical-align: baseline;
}
body #card_previews > div a img {
  height: auto;
  width: auto;
}
li.tag-li input {
  display: none;
}
li.tag-li label span {
  background: #e4e4e4;
  display: inline-block !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 12px;
  width: 12px;
  vertical-align: middle;
  margin: -3px 4px 0 0;
}
li.tag-li label:hover span {
  background: #64b8ae;
}
div#filter_menu .kleur ul {
  overflow: hidden;
  padding-right: 25px;
}
div#filter_menu .kleur ul li {
  float: left;
  width: 18px;
  margin: 0 5px 0px 0 !important;
}
#filter_menu label {
  color: #919191;
}
.kleur ul li input {
  display: none;
}
.kleur ul li em {
  display: none;
}
.kleur ul li label {
  display: block;
  height: 18px;
  width: 18px;
  font-size: 0 !important;
}
.kleur ul li label .custom_checkbox {
  display: block !important;
  height: 18px !important;
  width: 18px !important;
  background: none !important;
  margin: 0;
}
#filter_menu ul li input[type="checkbox"]:checked + label span.custom_checkbox {
  background: #e4e4e4 url("/img/ftcheck.png") no-repeat scroll center center / 12px 12px;
}
#tagli-geel label {
  background: #fff100 !important;
}
#tagli-goud label {
  background: #d6b571 !important;
}
#tagli-oranje label {
  background: #f8712d !important;
}
#tagli-wit label {
  background: #ffffff url(/img/colorful.png) no-repeat 0 -47px !important;
}
#tagli-rood label {
  background: #f12f2b !important;
}
#tagli-kleurrijk label {
  background: url(/img/colorful.png) no-repeat 0 0 !important;
}
#tagli-blauw label {
  background: #009ad4 !important;
}
#tagli-roze label {
  background: #f22c87 !important;
}
#tagli-grijs label {
  background: #c9cfd1 !important;
}
#tagli-groen label {
  background: #009c47 !important;
}
#tagli-paars label {
  background: #87337c !important;
}
#tagli-zwart label {
  background: #000 !important;
}
#tagli-bruin label {
  background: #714427 !important;
}
#filter_menu ul li.kleur label:hover .custom_checkbox,
#filter_menu ul .kleur ul li label:hover .custom_checkbox,
#filter_menu ul .kleur ul li input[type="checkbox"]:checked + label .custom_checkbox {
  background: url(/img/colorful.png) no-repeat 0 -22px !important;
  height: 18px !important;
  width: 18px !important;
}
#body_design #envelope {
  display: none;
}
span.proefDrukPrijs {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 14px;
  padding-top: 15px;
}
#body_design {
  /* tijdelijke oplossing */
}
#body_design #sidebar {
  width: 0px;
}
#body_design #sidebar #leftnav {
  display: none;
}
#body_design #pagebody {
  width: 100%;
}
#body_design div.leftCol {
  width: 65%;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
#body_design div.leftCol #prevWrap {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  min-height: 360px;
}
@media all and (max-width: 820px) {
  #body_design div.leftCol #prevWrap {
    min-height: 260px;
  }
}
#body_design div.leftCol #prevWrap #voor_preview,
#body_design div.leftCol #prevWrap #binnen_preview {
  width: 100%;
  text-align: center;
}
#body_design div.leftCol #prevWrap #voor_preview img,
#body_design div.leftCol #prevWrap #binnen_preview img {
  max-width: 80%;
  max-height: 350px;
  width: auto;
  height: auto;
}
@media all and (max-width: 820px) {
  #body_design div.leftCol #prevWrap #voor_preview img,
  #body_design div.leftCol #prevWrap #binnen_preview img {
    max-height: 250px;
  }
}
#body_design div.leftCol #prevWrap #voor_preview_envelop {
  width: 100%;
  text-align: center;
}
#body_design div.leftCol #prevWrap #voor_preview_envelop img {
  width: 50%;
  height: auto;
  position: relative;
  z-index: 5;
}
#body_design div.leftCol .select_preview {
  width: 100%;
  text-align: center;
}
#body_design div.leftCol .select_preview span {
  vertical-align: top;
  display: inline-block;
  margin-right: 25px;
}
@media all and (max-width: 820px) {
  #body_design div.leftCol .select_preview span {
    margin-right: 5px;
  }
}
#body_design div.leftCol .select_preview span:last-child img {
  max-width: 180px;
  max-height: 160px;
}
#body_design div.leftCol .select_preview img {
  max-width: 120px;
  max-height: 130px;
  height: auto;
  width: auto;
  cursor: pointer;
}
#body_design div.leftCol .select_preview img:hover {
  opacity: 0.7;
}
#body_design div.leftCol span.envview {
  display: inline-block;
  width: 115px;
  position: relative;
  height: 99px;
}
#body_design div.leftCol span.envview img {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}
#body_design div.leftCol span.envview span.env {
  display: inline-block;
  width: 75px;
  position: absolute;
  top: 0px;
  right: -45px;
  height: 75px;
  background: url(/img/envtransklein.png) no-repeat;
  background-size: 55px 55px;
  background-color: #eeeded;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  transform: rotate(14deg);
  -webkit-transform: rotate(14deg);
  -moz-transform: rotate(14deg);
  -o-transform: rotate(14deg);
  -ms-transform: rotate(14deg);
}
#body_design div.leftCol .envgroot {
  display: inline-block;
  width: 200px;
  position: absolute;
  top: 25px;
  right: 75px;
  height: 200px;
  background: url(/img/envtransklein.png) no-repeat;
  background-size: 200px 200px;
  background-color: #eeeded;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  transform: rotate(14deg);
  -webkit-transform: rotate(14deg);
  -moz-transform: rotate(14deg);
  -o-transform: rotate(14deg);
  -ms-transform: rotate(14deg);
}
#body_design #choose_preview {
  height: 45px;
  width: 260px;
  display: block;
  color: #fff!important;
  margin: 0 auto;
  font-family: 'Varela Round', sans-serif;
  box-sizing: border-box;
  background: url("/img/bg_step_forward.png") 100% 0 no-repeat !important;
  border: none;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 21px;
  padding-top: 8px;
  padding-left: 20px;
}
#body_design #choose_preview2 {
  width: 300px;
  font-family: 'Varela Round', sans-serif;
  height: 56px;
  box-sizing: border-box;
  background: url(/img/bgmaken.png);
  border: none;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 22px;
  padding-top: 4px;
}
#body_design div.rightCol {
  width: 35%;
  display: inline-block;
  vertical-align: top;
  float: right;
}
#body_design div.rightCol a.meerPrijsLink {
  display: block;
  float: right;
  color: #6e7277;
}
#body_design div.rightCol div.env {
  clear: both;
}
#body_design div.rightCol table.prijsOf .priceTd span {
  display: inline-block;
  width: auto;
  float: none;
  vertical-align: top;
  text-transform: lowercase !important;
}
#body_design div.rightCol table.prijsOf td.sizeTd {
  padding-right: 25px;
}
#body_design div.rightCol table.prijsOf td.priceInfoTd {
  position: relative;
  width: 25px;
}
#body_design div.rightCol table.prijsOf td.priceInfoTd:before {
  font-family: 'kcicons';
  content: 'k';
  cursor: pointer;
  padding-left: 5px;
  font-size: 16px;
}
#body_design div.rightCol table.prijsOf td.priceInfoTd:hover div.priceHover {
  display: block;
}
#body_design div.rightCol table.prijsOf td.priceInfoTd div.priceHover {
  display: none;
  z-index: 500;
  padding: 15px;
  background: #fff;
  position: absolute;
  top: 15px;
  right: 20px;
  width: 270px;
  -webkit-box-shadow: 0 0 5px 0 #575757;
  box-shadow: 0 0 5px 0 #575757;
}
#body_design div.rightCol table.prijsOf td.priceInfoTd div.priceHover table td.priceHoverName {
  width: 220px;
}
#body_design div.rightCol table.prijsOf td.priceInfoTd div.priceHover table td.priceHoverPrice {
  width: 150px;
}
#body_design div.rightCol table.prijsOf td.priceInfoTd div.priceHover table td.priceHoverPrice:after {
  content: ' p/st';
  vertical-align: top;
}
#body_design div.rightCol div.details {
  background: #f8f9f9;
  box-sizing: border-box;
  padding: 25px 25px 35px 25px;
}
#body_design div.rightCol div.details .proefPrijs {
  color: #96989B;
  display: none;
  width: 80px;
  font-size: 14px;
  line-height: 20px;
  margin-right: 15px;
  margin-top: 20px;
}
#body_design div.rightCol div.details .tags {
  margin-bottom: 20px;
}
#body_design div.rightCol div.details .tags,
#body_design div.rightCol div.details .designer,
#body_design div.rightCol div.details .collectie,
#body_design div.rightCol div.details .prijsTab {
  font-size: 14px;
  color: #96989B;
}
#body_design div.rightCol div.details .tags span,
#body_design div.rightCol div.details .designer span,
#body_design div.rightCol div.details .collectie span,
#body_design div.rightCol div.details .prijsTab span {
  text-transform: uppercase;
}
#body_design div.rightCol div.details div.tags {
  padding-left: 150px;
  position: relative;
}
#body_design div.rightCol div.details div.tags span {
  position: absolute;
  top: 0px;
  left: 0px;
}
#body_design div.rightCol div.details div span {
  display: inline-block;
  width: 150px;
  float: left;
}
#body_design div.rightCol h1 {
  margin-bottom: 20px;
  font-family: 'Varela Round', sans-serif;
  line-height: 38px;
}
#body_design div.env {
  display: none;
}
#body_design a.save_user_design {
  float: none !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.5px;
  text-transform: lowercase !important;
  text-align: center;
  font-size: 16px;
  margin-top: 5px;
}
#body_design a.save_user_design:hover {
  text-decoration: none;
}
#body_design a.save_user_design:before {
  display: none;
  content: 'u';
  font-size: 24px;
  color: #f08288;
  padding-right: 7px;
  vertical-align: middle;
  font-family: 'kcicons';
}
#body_design a.save_user_design.save_user_design_added {
  margin-left: 95px;
  letter-spacing: 0.5px;
}
#body_design a.save_user_design.save_user_design_added:before {
  content: 't';
  font-size: 24px;
  padding-right: 7px;
  vertical-align: middle;
  font-family: 'kcicons';
}
#body_design #knav {
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
  background: #f8f9f9;
  border-top: 3px solid #f0f2f2;
  padding-top: 35px;
  margin-top: 25px;
  white-space: nowrap;
}
#body_design #knav #card_previews_horizontal {
  width: auto;
  height: 250px;
  overflow: hidden;
  position: relative;
  -webkit-mask-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, #000000 15%, #000000 85%, rgba(0, 0, 0, 0) 100%);
  mask: url(design_mask.svg#mask);
}
#body_design #knav #inner {
  display: block;
}
#body_design #knav #inner a {
  width: 140px;
  display: inline-block;
  vertical-align: top;
  margin-right: 45px;
}
#body_design #knav #prev_page {
  background: #f8f9f9 url("/img/bg_next_prev.png") no-repeat !important;
  background-position: 4px 100px!important;
  width: 41px;
  height: 250px!important;
  position: absolute;
  top: 0px;
  cursor: pointer;
  left: 7px;
  font-size: 28px;
  color: #2c8590;
}
#body_design #knav #next_page {
  background: #f8f9f9 url("/img/bg_next_prev.png") no-repeat !important;
  background-position: -55px 100px !important;
  width: 41px;
  height: 250px!important;
  position: absolute;
  top: 0px;
  cursor: pointer;
  font-size: 28px;
  right: 7px;
  color: #2c8590;
}
@media all and (max-width: 820px) {
  #body_design div.leftCol {
    width: 100%;
  }
  #body_design a.mobLogo {
    display: none;
  }
  #body_design div.rightCol {
    width: 100%;
    margin-top: 35px;
    float: none;
  }
  #body_design span.proefPrijs {
    width: auto !important;
    margin-top: 3px !important;
  }
  #body_design div.description {
    padding-top: 25px;
  }
  #body_design .desUsp a {
    display: block;
    width: 100%;
  }
  #body_design div.prijsTab > span {
    display: block !important;
    float: none !important;
  }
  #body_design table.prijsOf {
    width: 100%;
  }
  #body_design .envgroot {
    display: inline-block;
    width: 100px !important;
    position: absolute;
    top: 25px;
    right: 25px !important;
    height: 100px !important;
    background: url(/img/envtransklein.png) no-repeat;
    background-size: 100px 100px !important;
    background-color: #eeeded;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    transform: rotate(14deg);
    -webkit-transform: rotate(14deg);
    -moz-transform: rotate(14deg);
    -o-transform: rotate(14deg);
    -ms-transform: rotate(14deg);
  }
}
#cookie_message {
  height: auto !important;
}
#card_previews_horizontal img {
  width: 180px !important;
}
.crdEdi {
  display: none !important;
}
a.crdDel span {
  width: 15px !important;
  height: 15px !important;
  background-size: 15px 15px !important;
}
#card_previews > div {
  display: inline-block;
  vertical-align: top;
}
#card_previews > div img {
  max-width: 170px;
  height: auto;
  width: 100%;
}
/* Order history */
div.orderWrap {
  width: 100%;
  border-bottom: solid 1px #ccc;
  box-sizing: border-box;
}
div.orderImg {
  display: inline-block;
  vertical-align: top;
  padding-right: 15px;
}
div.orderDat {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  padding: 30px 28px 0 0;
}
div.orderDat span {
  display: block;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
}
div.orderDetails {
  background: #fcfcfc;
  box-sizing: border-box;
  padding: 25px;
  font-size: 14px;
  line-height: 20px;
}
div.orderDetails .sTitle {
  font-weight: bold;
  margin-bottom: 10px;
}
div.orderDetails .credSection {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}
div.orderDetails .sendSection {
  width: 45%;
  display: inline-block;
  vertical-align: top;
}
div.orderDetails .sendSection .sDate {
  font-size: 12px;
}
div.orderDetails .sendSection .sStat {
  font-size: 14px;
  margin-top: -5px;
  color: #2cce00;
}
@media (max-width: 768px) {
  div.noMob,
  td.noMob {
    display: none;
  }
}
#step_back {
  background: url("/img/bg_bt.png") no-repeat;
  float: left;
  width: auto;
  height: 37px;
  line-height: 32px;
  padding: 0 14px 0 35px;
  margin: 15px 0 0;
  color: #ed1c24;
  text-decoration: none!important;
  border-radius: 0 0 5px 0;
  -moz-border-radius: 0 0 5px 0;
  -webkit-border-radius: 0 0 5px 0;
}
div.detAccord.first {
  border-top: solid 1px #dcdbd6;
  margin-top: 25px;
}
div.detAccord {
  border-bottom: solid 1px #dcdbd6;
  box-sizing: border-box;
}
div.detAccordTitle {
  width: 100%;
  text-transform: uppercase;
  position: relative;
  padding: 9px 0px 7px 0px;
  cursor: pointer;
  font-size: 14px;
}
div.detAccordTitle:after {
  background: url(/img/icons.png) no-repeat -30px -36px;
  position: absolute;
  content: "";
  width: 13px;
  height: 8px;
  right: 0;
  top: 50%;
  margin-top: -4px;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
div.detAccordTitle.active:after {
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
div.detAccord .innerHtml {
  padding-bottom: 15px;
  font-size: 12px;
}
div.detAccord {
  margin: 0px 10px 0px 10px;
}
div.detAccord .detAccordTitle:after {
  content: '+';
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  font-size: 20px;
  color: #403c3d;
  font-weight: normal;
  margin-top: -8px;
  right: 5px;
}
div.detAccord .detAccordTitle.active:after {
  content: '-';
}
div.detAccord .innerHtml span {
  width: 100px;
  display: inline-block;
}
div.details a {
  text-decoration: none;
}
div.container a {
  text-decoration: none !important;
}
#body_account_address .contactfrm,
#body_account_password .contactfrm,
#body_account_nieuwsbrief .contactfrm,
#body_contact .contactfrm {
  width: 100%;
  max-width: 350px;
}
#body_account_address table,
#body_account_password table,
#body_account_nieuwsbrief table,
#body_contact table {
  border-collapse: separate;
  border-spacing: 2px;
}
#body_account_address table td,
#body_account_password table td,
#body_account_nieuwsbrief table td,
#body_contact table td {
  padding: 5px 2px;
}
#body_account_address input[type=submit],
#body_account_password input[type=submit],
#body_account_nieuwsbrief input[type=submit],
#body_contact input[type=submit] {
  background: #8ac0cf!important;
  line-height: 30px;
  width: auto;
  padding: 0 15px;
  color: #fff !important;
  font-size: 17px;
  font-family: 'GillSansMT';
  text-decoration: none!important;
  height: 33px !important;
  text-align: center;
  border: 0;
  border-bottom: 2px solid #759ba6;
  cursor: pointer;
}
#body_account_address input[type=text],
#body_account_password input[type=text],
#body_account_nieuwsbrief input[type=text],
#body_contact input[type=text],
#body_account_address input[type=password],
#body_account_password input[type=password],
#body_account_nieuwsbrief input[type=password],
#body_contact input[type=password],
#body_account_address textarea,
#body_account_password textarea,
#body_account_nieuwsbrief textarea,
#body_contact textarea {
  outline: none;
  border: 1px solid #d3d3d3;
  border-top-color: #b4b4b4;
  border-right-color: #b4b4b4;
  padding: 7px 5px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-shadow: inset -1px 1px #d9d9d9;
  -webkit-box-shadow: inset -1px 1px #d9d9d9;
  box-shadow: inset -1px 1px #d9d9d9;
  color: #282828;
  font-size: 14px;
}
#body_account_address select,
#body_account_password select,
#body_account_nieuwsbrief select,
#body_contact select {
  background: #fff;
  height: 31px;
  padding: 2px 5px;
  width: 100%;
  color: #262626;
  font-size: 13px;
  border: 1px solid #d3d3d3;
  outline: none;
  -moz-box-shadow: inset -1px 1px #d9d9d9;
  -webkit-box-shadow: inset -1px 1px #d9d9d9;
}
/* ADDED BY WESLEY */
#card_previews .trash_icon {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: inline-block;
  width: 15px !important;
  height: 15px !important;
  background-size: 15px 15px !important;
  background: url(/common/img/trash.png);
}

/* Nieuwe designpage - augustus 2016 */
#body_design .add_to_collection {
  display: none !important;
}

#body_design .proefDrukPrijs {
  margin-left: 0px !important;
}
