@import "less/components/mediaqueries";
@import "less/components/grid";
@import "less/components/fonts";

/* Components */
@import "less/components/base";
@import "less/components/checkbox";
@import "less/components/colors";
@import "less/components/icons";
@import "less/components/navbar";
@import "less/components/field";
@import "less/components/button";
@import "less/components/button-block";
@import "less/components/card-block";
@import "less/components/list";
@import "less/components/breadcrumb";
@import "less/components/accordion";
@import "less/components/box";
@import "less/components/table";
@import "less/components/thumbnail";
@import "less/components/thumbnail-slider";
@import "less/components/thumbnail-people";
@import "less/components/thumbnail-card";
@import "less/components/thumbnail-scroller";
@import "less/components/carousel";
@import "less/components/pills";
@import "less/components/visual";
@import "less/components/footer";
@import "less/components/banner";
@import "less/components/custom";
@import "less/components/filter";
@import "less/components/design";
@import "less/components/cookie";
@import "less/components/lightbox";
@import "less/components/edit";

/*********responsive**********/
/*= mobile =*/
@media only screen and (max-width: @sm) {
    @import "less/components/responsive-mobile";
}
/*= tablet =*/
@media only screen and (max-width: @md) {
    @import "less/components/responsive-tablet";
}
/*= desktop =*/
@media only screen and (min-width: @md) {
    @import "less/components/responsive-desktop";
}

@import "less/dirty";
@import "less/dirtyb";




