.accordion {
  list-style-type: none;
  padding: 0;
  border-bottom: 1px solid #dfe5e5;
  background-color: transparent;
  margin-bottom: 10px;
}
.accordion > .active {
  color: #575757 !important;
}
.accordion .show {
  display: block!important;
}
.accordion > a {
  display: block;
  vertical-align: middle;
  background-color: transparent;
  padding: 5px 5px;
  color: #db965b;
}
.accordion > a > i {
  float: right;
  font-size: 12px;
}
.accordion .accordion-body {
  display: none;
  padding: 5px;
}
.accordion .accordion-body ul {
  margin-bottom: 0;
  margin-top: 0;
}
.accordion .accordion-body ul li a {
  padding: 5px 0px 5px 5px;
}