.address-list input[type="text"] {
  border-radius: 0px !important;
}
.address-list > ul {
  max-height: 250px;
  padding: 0;
  margin: 0 0 15px 0;
  overflow-y: auto;
  overflow-x: hidden;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.address-list > ul > li {
  border-bottom: 1px solid #cccccc;
  text-align: center;
}
.address-list > ul > li:last-child {
  border-bottom: none;
}
.address-list > ul > li a {
  display: block;
  padding: 0;
}
.address-list > ul > li > button {
  margin-bottom: 15px;
}