.box {
  position: relative;
  padding: 0;
  margin-bottom: 15px;
  background-color: #ffffff;
  border-radius: 15px;
  border: 1px solid #e4e8e8;
  overflow: hidden;
}
.box .box-body {
  background-color: #ffffff;
  margin: 0;
  padding: 25px;
}
.box .box-footer {
  background-color: #ffffff;
  margin: 0;
  padding: 25px;
  border-top: 1px solid #e4e8e8;
  clear: both;
}
.box-default .box-body {
  background-color: #ffffff;
}
.box-default .box-footer {
  background-color: #ffffff;
}
.box-primary .box-body {
  background-color: #ffffff;
}
.box-primary .box-footer {
  background-color: #f2ecec;
}
