.button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 100px;
  overflow: hidden;
}
.button i {
  display: inline-block;
  vertical-align: middle;
}
.button-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: 5px;
  margin-bottom: 5px;
}
.button-group .button {
  position: relative;
  float: left;
  border-radius: 0;
}
.button-group .button:first-child {
  margin-left: 0;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.button-group .button:last-child {
  margin-left: 0;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
.button-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.button-group-vertical > .button {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  border-radius: 0!important;
}
.button-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}
.button-group-justified > .button {
  display: table-cell;
  float: none;
  width: 1%;
}
.button-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
}
.button-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.button-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.button-xlg {
  padding: 12px 18px;
  font-size: 26px;
  line-height: 1.3333333;
}
.button-link {
  display: block;
  color: #F9861C;
  border-color: transparent;
  background-color: transparent;
}
.button-link:hover,
.button-link:active,
.button-link:focus {
  border-color: transparent;
}
.button-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
.button-default:hover {
  color: #555555;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.button-success {
  color: #ffffff;
  background-color: #f5871e;
  border-color: #f6c61e;
}
.button-success:hover {
  color: #555555;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.button-warning {
  color: #ffffff;
  background-color: #f6c61e;
  border-color: #fa9485;
}
.button-warning:hover {
  color: #555555;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.button-danger {
  color: #ffffff;
  background-color: #fa9485;
  border-color: #fa9485;
}
.button-danger:hover {
  color: #555555;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.button-info {
  color: #ffffff;
  background-color: #f5871e;
  border-color: #f6871f;
}
.button-info:hover {
  color: #555555;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.button-primary {
  color: #ffffff;
  background-color: #6fd4ce;
  border-color: #6fd4ce;
}
.button-primary:hover {
  color: #555555;
  background-color: #e6e6e6;
  border-color: #adadad;
}
