.carousel {
  position: relative;
  border: 1px solid transparent;
  margin-bottom: 15px;
  overflow: hidden;
  background-color: transparent;
}
.carousel:hover .carousel-left,
.carousel:hover .carousel-right {
  visibility: visible;
  opacity: 1;
}
.carousel .carousel-middle > img {
  width: 100%;
}
.carousel .carousel-left {
  left: 0;
}
.carousel .carousel-right {
  right: 0;
}
.carousel .carousel-left,
.carousel .carousel-right {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 220;
}
.carousel .carousel-left > a,
.carousel .carousel-right > a {
  display: table;
  height: 100%;
  padding: 0 10px;
}
.carousel .carousel-left > a i,
.carousel .carousel-right > a i {
  display: table-cell;
  vertical-align: middle;
}
.carousel a {
  display: inline-block;
  vertical-align: middle;
}
