.list {
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}
.list .list-toggle .list-toggle-text {
  display: inline-block;
  vertical-align: middle;
  color: #555;
  font-weight: 500;
  padding-left: 5px;
  padding-right: 5px;
}
.list .list-toggle .list-toggle-text .icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.5em!important;
}
.list-vertical li.active > a {
  color: #575757;
}
.list-vertical li a {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: 5px;
  color: #db965b;
}
.list-vertical li a:hover {
  color: #575757;
}
.list-vertical li a:active {
  color: #575757;
}
.list-vertical li a:focus {
  color: #575757;
}
.list-vertical li ul {
  margin: 0;
  border-left: 2px solid #fbc095;
  padding-left: 15px;
  margin-left: 5px;
}
.list-vertical li ul li a {
  color: #db965b;
}
.list-vertical li ul li a:hover {
  color: #575757;
}
.list-vertical li ul li a:active {
  color: #575757;
}
.list-vertical li ul li a:focus {
  color: #575757;
}
/* END LIST-VERTICAL */
.list-decimal {
  list-style-type: decimal;
}
