ul.pills {
  padding-left: 0;
  margin-bottom: 10px;
  list-style: none;
  overflow: hidden;
  margin-bottom: 5px;
  border-bottom: 1px solid #cccccc;
  background-color: transparent;
}
ul.pills > li {
  position: relative;
  display: block;
  float: left;
  margin-bottom: -1px;
  margin-right: 5px;
  border: 1px solid #cccccc;
  z-index: 1;
}
ul.pills > li > a {
  position: relative;
  display: block;
  padding: 5px 10px;
  color: #e0b592;
  background-color: #ffeace;
}
ul.pills > li > a:hover {
  background-color: #feddbd;
  color: inherit;
}
ul.pills > li > a:active {
  background-color: #feddbd;
  color: inherit;
}
ul.pills > li > a:focus {
  background-color: #feddbd;
  color: inherit;
}
