.accordion {
    list-style-type: none;
    background-color: @accordion-bg-color;
    padding: 10px 0;
    & + .accordion {
        border-top: 1px solid @accordion-border-bottom-color;
    }
    &:first-child {
        padding-top: 0;
    }
    > .active {
        color: @accordion-active-color!important;
    }
    .show {
        display: block!important;
    }
    > a {
        display: block;
        vertical-align: middle;
        background-color: @accordion-link-bg-color;
        padding: 5px 5px;
        font-family: @headFont;
        font-weight: bold;
        color: @accordion-link-color;
        &:hover {
            color: @accordion-link-hover-color;
        }
        > i {
            float: right;
            font-size: 12px;
            color: #999;
        }
    }
    .accordion-body {
        display: none;
        padding: 5px;
        ul {
            margin-bottom: 0;
            margin-top: 0;
            li {
                a {
                    padding: 5px 0px 5px 5px;
                    i {
                        color: #000;
                    }
                    &:hover, &:hover i {
                        color: @accordion-link-hover-color;
                    }
                }

            }
        }
    }
}