.hide {
    display: none;
}

#headermenu {
    display: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    outline: none;
}
i {
    display: inline-block;
}

body{
    color:#6e7277;
    font-size:16px;
    line-height:27px;
    font-family:@mainFont;
    padding: 0;
    margin: 0;
}

header, section, footer, aside, nav, main, article, figure {
    display: block;
}

.transition-ease {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.navbar:after .container:after, .cols:after, topbar:after, middlebar:after, .topbar-left:after, .topbar-right:after, topbar-menu:after {
    clear: both;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}

ul {
    padding: 0;
}

dl {
    margin-top: 0;
    margin-bottom: 20px;
}

dd, dt {
    line-height: 1.42857143;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.navbar:after,
.navbar:before,
.container:after,
.container:before,
.cols:after,
.cols:before,
.form-horizontal .input-group:after,
.form-horizontal .input-group:before{
    display: table;
    content: " ";
}

ul {
    list-style: none;
}

a {
    color: @link-color;
    outline: none;
    text-decoration: none;
    &:hover {
        color:@link-hover-color;
    }
    &:active {
        color: @link-active-color;
    }
    &:focus {
        color: @link-focus-color;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'kg_love_somebodyregular';
    font-weight:normal;
    color:#45adba;
    margin-bottom: 15px;
}

h1 {
    font-size:26px;
    color: @h1-color;
    margin-top: 23px;
    margin-bottom: 11.5px;

}

h2 {
    font-size:22px;
    color: @h2-color;
}

h3 {
    font-size:20px;
    color: @h3-color;
}

h4 {
    font-size:18px;
    color: @h4-color;
}

h5 {
    font-size:18px;
    color: @h5-color;
}

h6 {
    font-size:18px;
    color: @h6-color;
}

.content-wrapper {
    position: relative;
}

.visual {
    display: none;
}

.container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    clear: both;
    height: 100%;
    max-width: 1200px;
}

img {
    vertical-align: middle;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-center {
    display: block;
    margin: 0 auto;
}

.img-circle {
    border-radius: 50%!important;
}

.text-left {
    text-align: left!important;
}

.text-center {
    text-align: center!important;
}

.text-right {
    text-align: right!important;
}

.text-default {
    color: @text-default-color;
}
.text-primary {
    color: @text-primary-color;
}
.text-success {
    color: @text-success-color;
}
.text-warning {
    color: @text-warning-color;
}
.text-danger {
    color: @text-danger-color;
}
.text-info {
    color: @text-info-color;
}

.text-xs {
    font-size: 0.6em!important;
}

.text-xsm {
    font-size: 0.8em!important;
}

.text-sm {
    font-size: 1.0em!important;
}

.text-md {
    font-size: 1.2em!important;
}

.text-lg {
    font-size: 1.4em!important;
}

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}


@media only screen and (max-width:@lg) {
    .content-wrapper {
        top: 5px;
        padding: 10px;
    }
    .xsm-hide, .xsm-hide, .md-hide, .lg-hide {
        display: block;
    }
    .xs-hide {
        display: none;
    }

    #visual-content {
        margin-top: 90px;
    }
}

@media only screen and (min-width:@xsm) {

    .xs-hide, .sm-hide, .md-hide, .lg-hide {
        display: block;
    }
    .xsm-hide {
        display: none;
    }
}

@media only screen and (min-width:@sm) {

    .xs-hide, .xsm-hide, .md-hide, .lg-hide {
        display: block;
    }
    .sm-hide {
        display: none;
    }

    .dl-horizontal dd {
        margin-left: 140px;
    }
    .dl-horizontal dt {
        float: left;
        width: 140px;
        overflow: hidden;
        clear: left;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width:@md) {
    html {
        overflow-y: auto!important;
    }
    .content-wrapper {
        top: 15px;
        padding: 0;
    }
    .xs-hide, .xsm-hide, .sm-hide, .lg-hide {
        display: block;
    }
    .md-hide {
        display: none;
    }

    .visual {
        display: block;
        .visual-content-left, .visual-content-right {
            display: block;
            img {
                margin-top: 100%;
            }
        }
    }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : @lg) {

    .xs-hide, .xsm-hide, .sm-hide, .md-hide {
        display: block;
    }
    .lg-hide {
        display: none;
    }


}
