.box {
    position: relative;
    padding: 0;
    margin-bottom: 15px;
    background-color: @box-bg-color;
    border-radius: 15px;
    border: 1px solid @box-border-color;
    overflow: hidden;
    .box-body {
        background-color: @box-default-body-bg-color;
        margin: 0;
        padding: 25px;
    }
    .box-footer {
        background-color: @box-default-footer-bg-color;
        margin: 0;
        padding: 25px;
        border-top: 1px solid @box-footer-border-top-color;
        clear: both;
    }

}

.box-default {
    .box-body {
        background-color: @box-default-body-bg-color;
    }
    .box-footer {
        background-color: @box-default-footer-bg-color;
    }
}

.box-primary  {
    .box-body {
        background-color: @box-primary-body-bg-color;
    }
    .box-footer {
        background-color: @box-primary-footer-bg-color;
    }
}