@mid: ~"all and (max-width: 820px)";

span.proefDrukPrijs {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding-top: 15px;
}

#body_design {
    #envelope {
        z-index: 2;
    }
    #sidebar {
        width: 0;
        #leftnav {
            display: none;
        }
    }

    #pagebody {
        width: 100%;
    }

    div.leftCol {
        width: 68%;
        display: inline-block;
        vertical-align: top;
        position: relative;
        #voor_preview {
            img {
                @media only screen and (max-width: @sm) {
                    max-width: 100% !important;
                    margin-left: auto;
                    margin-right: auto;
                }

                &:first-child {
                    max-width: 39%;

                }
                max-width: 60%;

                &:hover {
                    opacity: 0.6;
                    transition: all 0.3s ease-out;
                    cursor: pointer;
                }
            }
        }
        #prevWrap {
            position: relative;
            cursor: pointer;
            overflow: hidden;
            min-height: 360px;
            @media @mid {
                min-height: 260px;
            }
            #voor_preview, #binnen_preview {
                width: 100%;
                text-align: center;
                img {
                    max-height: 350px;
                    @media @mid {
                        max-height: 250px;
                    }
                    width: auto;
                    height: auto;
                }
            }
            #voor_preview_envelop {

                width: 100%;
                text-align: center;
                img {
                    width: 50%;
                    height: auto;
                    position: relative;
                    z-index: 5;
                }
            }
        }

        .select_preview {
            display: none;
            width: 100%;
            text-align: center;
            span {
                vertical-align: top;
                display: inline-block;
                margin-right: 25px;
                @media @mid {
                    margin-right: 5px;
                }
                &:last-child {
                    img {
                        max-width: 180px;
                        max-height: 160px;
                    }
                }
            }
            img {
                max-width: 120px;
                max-height: 130px;
                height: auto;
                width: auto;
                cursor: pointer;
                &:hover {
                    opacity: 0.7;
                }
            }
        }

        span.envview {
            display: inline-block;
            width: 115px;
            position: relative;
            height: 99px;
            img {
                position: absolute;
                top: 0px;
                left: 0px;
                z-index: 1;
            }

            span.env {
                display: inline-block;
                width: 75px;
                position: absolute;
                top: 0px;
                right: -45px;
                height: 75px;
                background: url(/img/envtransklein.png) no-repeat;
                background-size: 55px 55px;
                background-color: #eeeded;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                transform: rotate(14deg);
                -webkit-transform: rotate(14deg);
                -moz-transform: rotate(14deg);
                -o-transform: rotate(14deg);
                -ms-transform: rotate(14deg);
            }
        }
        .envgroot {
            display: inline-block;
            width: 200px;
            position: absolute;
            top: 25px;
            right: 75px;
            height: 200px;
            background: url(/img/envtrans.png) no-repeat;
            background-size: 200px 200px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            transform: rotate(14deg);
            -webkit-transform: rotate(14deg);
            -moz-transform: rotate(14deg);
            -o-transform: rotate(14deg);
            -ms-transform: rotate(14deg);
            &.wit {
                background-color: transparent;
            }
        }
    }

    .box-footer {
        display: none;
    }

    #choose_preview {
        height: 54px;
        width: 275px;;
        display: block;
        color: #fff !important;
        margin: 0 auto;
        box-sizing: border-box;
        border: none;
        text-align: left;
        margin-top: 15px;
        margin-bottom: 5px;
        font-size: 21px;
        padding-top: 8px;
        padding-left: 20px;
        background-color: #808080;
        text-transform: uppercase;
        .icon {
            float: none;
            color: #fff;
            text-transform: none;
        }
        &:hover {
            background-color: #c2c2c2;
        }
    }

    #choose_preview2 {
        width: 300px;
        font-family: @mainFont;
        height: 56px;
        box-sizing: border-box;
        background: url(/img/bgmaken.png);
        border: none;
        display: block;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 5px;
        font-size: 22px;
        padding-top: 4px;
    }

    table.prijsOf {
        .priceTd span {
            display: inline-block;
            width: auto;
            float: none;
            vertical-align: top;
            text-transform: lowercase !important;
        }
        td.sizeTd {
            padding-right: 25px;
        }
        td.priceInfoTd {
            position: relative;
            width: 25px;
            &:before {
                font-family: @iconFont;
                content: 'k';
                cursor: pointer;
                padding-left: 5px;
                font-size: 16px;
            }
            &:hover {
                div.priceHover {
                    display: block;
                }
            }
            div.priceHover {
                display: none;
                z-index: 500;
                padding: 15px;
                background: #fff;
                position: absolute;
                top: 15px;
                right: 20px;
                width: 270px;
                -webkit-box-shadow: 0 0 5px 0 #575757;
                box-shadow: 0 0 5px 0 #575757;
                table {
                    td.priceHoverName {
                        width: 220px;
                    }
                    td.priceHoverPrice {
                        width: 150px;
                        &:after {
                            content: ' p/st';
                            vertical-align: top;
                        }
                    }
                }
            }
        }
    }

    a.meerPrijsLink {
        display: block;
        float: right;
        color: #6e7277;
    }
    div.env {
        clear: both;
    }

    div.extra {
        padding-left: 35px;
    }

    .proefPrijs {
        color: #96989B;
        display: none;
        width: 80px;
        font-size: 14px;
        line-height: 20px;
        margin-right: 15px;
        margin-top: 20px;
    }

    .tags {
        margin-bottom: 20px;
    }

    .tags, .designer, .collectie, .prijsTab {
        font-size: 14px;
        color: #96989B;
        span {
            text-transform: uppercase;
        }
    }

    div.tags {
        padding-left: 150px;
        position: relative;

        span {
            position: absolute;
            top: 0px;
            left: 0px;
        }
    }

    div.accordion-body {
        div span {
            display: inline-block;
            width: 150px;
            float: left;
        }
    }

    div.rightCol {
        width: 32%;
        display: inline-block;
        vertical-align: top;
        float: right;
        margin-bottom: 10px;


        h1 {
            margin-bottom: 20px;
            font-family: @mainFont;
            line-height: 38px;
        }
    }

    /* tijdelijke oplossing */
    div.env {
        display: none;
    }

    h1 {
        text-align: center;
    }
    .box-body {
        * {
            color: #808080;
        }
    }
    a.save_user_design {
        float: none !important;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        letter-spacing: 0.5px;
        text-transform: lowercase !important;
        text-align: center;
        font-size: 16px;
        margin-top: 5px;
        color: #000;
        &:hover {
            text-decoration: none;
        }
        &:before {
            display: none;
            content: 'u';
            font-size: 24px;
            color: #f08288;
            padding-right: 7px;
            vertical-align: middle;
            font-family: @iconFont;
        }

        &.save_user_design_added {
            letter-spacing: 0.5px;
            &:before {
                content: 't';
                font-size: 24px;
                padding-right: 7px;
                vertical-align: middle;
                font-family: @iconFont;
            }
        }
    }
    .icon {
        display: inline-block;
        vertical-align: middle;
        color: #000;
    }

    #prev_page {
        position: absolute;
        top: 100px;
        cursor: pointer;
        left: 15px;
        font-size: 21px;
        color: #808080;
        height: 42px;
        width: 42px;
        border: 1px solid #808080;
        -moz-border-radius: 21px;
        -webkit-border-radius: 21px;
        border-radius: 21px;
        -webkit-transition: all 400ms ease;
        -moz-transition: all 400ms ease;
        -ms-transition: all 400ms ease;
        -o-transition: all 400ms ease;
        transition: all 400ms ease;
    }

    #prev_page:before {
        font-family: 'kcicons';
        content: 'i';
        width: 42px;
        height: 42px;
        text-align: center;
        position: relative;
        left: 11px;
        line-height: 42px;
    }

    #next_page {
        position: absolute;
        top: 100px;
        cursor: pointer;
        font-size: 21px;
        right: 15px;
        color: #808080;
        height: 42px;
        width: 42px;
        border: 1px solid #808080;
        -moz-border-radius: 21px;
        -webkit-border-radius: 21px;
        border-radius: 21px;
        -webkit-transition: all 400ms ease;
        -moz-transition: all 400ms ease;
        -ms-transition: all 400ms ease;
        -o-transition: all 400ms ease;
        transition: all 400ms ease;
    }
    #next_page:before {
        font-family: 'kcicons';
        content: 'j';
        width: 42px;
        height: 42px;
        text-align: center;
        position: relative;
        left: 11px;
        line-height: 42px;
    }
    #next_page:hover,
    #prev_page:hover {
        color: #fff;
        background-color: #808080;
    }
    #knav {
        width: 100%;
        height: 250px;
        position: relative;
        overflow: hidden;
        background: #f8f9f9;
        border-top: 3px solid #f0f2f2;
        padding-top: 35px;
        margin-top: 25px;
        white-space: nowrap;

        #inner {
            display: block;
            a {
                width: 140px;
                display: inline-block;
                vertical-align: top;
                margin-right: 45px;
                img {
                    &:hover {
                        opacity: 0.6;
                        transition: all 0.3s ease-out;
                    }
                }

            }
        }
    }
     #card_previews_horizontal {
        width: auto;
        height: 250px;
        overflow: hidden;
        position: relative;
        background: url(/img/bg-knav.png) no-repeat center top;
    }
    .envgroot.wit {
        z-index: 1;
        background-color: transparent;
    }
    .img-center {
        z-index: 2;
    }
}

@media @mid {
    #body_design {
        div.leftCol {
            width: 100%;
        }

        a.mobLogo {
            display: none;
        }

        div.rightCol {
            width: 100%;
            margin-top: 35px;
            float: none;
        }

        span.proefPrijs {
            width: auto !important;
            margin-top: 3px !important;
        }
        div.description {
            padding-top: 25px;
        }
        .desUsp a {
            display: block;
            width: 100%;
        }
        div.prijsTab > span {
            display: block !important;
            float: none !important;
        }

        table.prijsOf {
            width: 100%;
        }

        .envgroot {
            display: inline-block;
            width: 100px !important;
            position: absolute;
            top: 25px;
            right: 25px !important;
            height: 100px !important;
            background: url(/img/envtrans.png) no-repeat;
            background-size: 100px 100px !important;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            transform: rotate(14deg);
            -webkit-transform: rotate(14deg);
            -moz-transform: rotate(14deg);
            -o-transform: rotate(14deg);
            -ms-transform: rotate(14deg);
            &.wit {
                background-color: transparent;
            }
        }
    }
}