@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@font-face {font-family: 'Lilly';
            src: url('./fonts/Lilly.eot');
            src: url('./fonts/Lilly.eot') format('embedded-opentype'),
                url('./fonts/Lilly.woff2') format('woff2'),url('./fonts/Lilly.woff') format('woff'),url('./fonts/Lilly.ttf') format('truetype'),
                url('./fonts/Lilly.svg#Lilly') format('svg');}

@charset "UTF-8";

@font-face {
    font-family: "kcicons";
    src:url("/css/fonts/kcicons.eot");
    src:url("/css/fonts/kcicons.eot?#iefix") format("embedded-opentype"),
        url("/css/fonts/kcicons.woff") format("woff"),
        url("/css/fonts/kcicons.ttf") format("truetype"),
        url("/css/fonts/kcicons.svg#untitled-font-1") format("svg");
    font-weight: normal!important;
    font-style: normal;

}

@font-face {
    font-family: "MuseoSan";
    src:url("/css/fonts/MuseoSans_500.eot");
    src:url("/css/fonts/MuseoSans_500.eot?#iefix") format("embedded-opentype"),
        url("/css/fonts/MuseoSans_500.woff") format("woff"),
        url("/css/fonts/MuseoSans_500.ttf") format("truetype"),
        url("/css/fonts/MuseoSans_500.svg#untitled-font-1") format("svg");
    font-weight: normal!important;
    font-style: normal;

}

@font-face {
    font-family: 'kg_love_somebodyregular';
    src: url('/css/fonts/KGLoveSomebody-webfont.eot');
    src: url('/css/fonts/KGLoveSomebody-webfont.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/KGLoveSomebody-webfont.woff2') format('woff2'),
        url('/css/fonts/KGLoveSomebody-webfont.woff') format('woff'),
        url('/css/fonts/KGLoveSomebody-webfont.ttf') format('truetype'),
        url('/css/fonts/KGLoveSomebody-webfont.svg#kg_love_somebodyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museoCy';
    src: url('/css/fonts/Museo_Cyrillic_500.eot');
    src: url('/css/fonts/Museo_Cyrillic_500.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/Museo_Cyrillic_500.woff2') format('woff2'),
        url('/css/fonts/Museo_Cyrillic_500.woff') format('woff'),
        url('/css/fonts/Museo_Cyrillic_500.ttf') format('truetype'),
        url('/css/fonts/Museo_Cyrillic_500.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}

@mainFont: 'MuseoSan', helvetica, sans-serif;
@AmaticFont: 'Amatic SC', cursive;
@secFont: @AmaticFont;
@iconFont:'kcicons';
@opensanFont: 'Open Sans', sans-serif;
@museoCy: 'museoCy', sans-serif;