.navbar {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 101;
    background-color: #fff;
    .container {
        overflow: visible;

    }
    .navbar-hamburger {
        position: relative;
        display: block;
        cursor: pointer;
        float: left;
        height: 50px;
        padding: 9px 15px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        z-index: 5;
        .icon-bar {
            display: block;
            margin-top: 4px;
            width: 28px;
            height: 5px;
            border-radius: 1px;
            background-color: #64686D;
        }
    }
    .topbar {
        position: relative;
        z-index: 9999;
        padding: 0px;
        .topbar-menu-left {
            position: absolute;
            display: none;
            li {
                padding: 0 5px;
                margin: 10px 0;
            }
            a {
                display: inline-block;
                vertical-align: middle;
                padding: 0px 10px 0px 8px;
                margin-top: 16px;
                height: 100%;
                font: 400 13px/15px @opensanFont;
                height: 100%;
                color: @topbar-left-link-color;
                border-left: 1px solid #808080;

                &:first-child {
                    padding-left: 0;
                    border-left: 0;
                }

                &:hover {
                    color: @topbar-left-link-hover-color;
                }
                &:active {
                    color: @topbar-left-link-active-color;
                }
                &:focus {
                    color: @topbar-left-link-focus-color;
                }
            }
        }
        .topbar-menu-right {
            position: absolute;
            padding-right: 10px;
            height: 100%;
            top: 0;
            right: 0;
            > ul {
                margin: 0;

                > li {
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;

                    a {
                        display: block;
                        height: 100%;
                        font: 400 13px/15px @opensanFont;
                        padding: 16px 5px;
                        margin: 0;
                        border: none;
                        color: @topbar-right-link-color;
                        border: 1px solid transparent;
                        &:hover {
                            color: @topbar-right-link-hover-color;
                        }
                        &:active {
                            color: @topbar-right-link-active-color;
                        }
                        &:focus {
                            color: @topbar-right-link-focus-color;
                        }
                        i {
                            display: inline-block;
                            vertical-align: middle;
                            font-size: 16px;
                        }
                    }
                    i {
                        display: inline-block;
                        vertical-align: middle;
                        padding-right: 5px;
                    }
                    .icon-chevron-down {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }
        }
        .dropdown {
            position: relative;
            &:hover {
                z-index: 999;
                &:after {
                    content: "";
                    position: absolute;
                    z-index: 100;
                    bottom: -4px;
                    left: 0;
                    right: 0;
                    height: 7px;
                    background-color: #fafafa;
                }
                > ul {
                    visibility: visible;
                    opacity: 1;
                    background-color: #fafafa;
                    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
                }
                > a {
                    background-color: #fafafa;
                    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
                }
            }
            > a {
                position: relative;
                display: block;
                z-index: 33;
            }
            > ul {
                position: fixed;
                visibility: hidden;
                width: 100%;
                opacity: 1;
                right: 0;
                padding: 4px 0;

                margin-top: -1px;
                background-color: #fff;
                border: 1px solid #E0E0E0;
                > li {
                    display: block;
                    position: relative;
                    &:hover {
                        background-color: #ccc;
                        a {
                            color: @color-white;
                        }
                    }
                    > a {
                        display: block;
                        padding: 6px 10px;
                        text-align: left;
                        color: #6e7277;
                        font: 500 14px/24px @museoCyFont;
                    }
                }
            }
        }
    }
    .middlebar {
        background-color: @navbar-bg-color;
        .dropdown {
            position: relative;
            &:hover {
                ul {
                    visibility: visible;
                    opacity: 1;
                    background-color: @navbar-dropdown-hover-bg-color;
                }
            }
        }
        ul.middlebar-menu-left li a {
            display: block;
            height: 100%;
            padding: 10px;
            color: @topbar-right-link-color;
            &:hover {
                color: @topbar-right-link-hover-color;
            }
            &:active {
                color: @topbar-right-link-active-color;
            }
            &:focus {
                color: @topbar-right-link-focus-color;
            }
        }
        ul.middlebar-menu-right {
            > li {
                float: left;
                position: relative;
                &:first-child {
                    border-left: 1px solid @middlebar-list-border-color;
                }
                &:hover {
                    background-color: @middlebar-list-hover-bg-color;
                }
                > a {
                    position: relative;
                    display: block;
                    height: 74px;
                    line-height: 74px;
                    color: #000;
                    background-color: @middlebar-link-bg-color;
                    overflow: hidden;
                    padding: 0 15px;
                    font-size: 16px;
                }
                i {
                    display: inline-block;
                    vertical-align: middle;
                    padding: 0 5px;
                }
            }
        }

    }
}

.zoek {
    margin-top: -27px;
}

a.logo {
    position: relative;
    color: @logo-link-color;
    line-height: 70px;
    font-size: 45px;
    img {
        position: relative;
        left: -250px;
        top: -11px;
    }
    &:hover {
        color: @logo-link-hover-color;
    }
    &:active {
        color: @logo-link-active-color;
    }
    &:focus {
        color: @logo-link-focus-color;
    }
}

@media only screen and (max-width: @md) {
    .logo {
        display: none;
    }
    .navbar {
        position: fixed;
        height: 90px;
        background-color: @navbar-bg-color;
        .collapse {
            background-color: @color-white;
            position: fixed;
            display: none;
            width: 100%;
            overflow-y: scroll;
            top: 90px;
            left: 0;
            bottom: 0;
        }
        .topbar {
            .topbar-menu-left {
                display: none;
            }
            .topbar-menu-right > ul > li a > span {
                display: none;
            }
            .dropdown > a {
                background-color: transparent;
            }
        }
        .middlebar {
            background-color: transparent;
            height: 50px;
            ul.middlebar-menu-left li a, ul.middlebar-menu-right li a {
                display: block;
                padding: 10px;
                font-size: 16px !important;
                &:hover {
                    background-color: @navbar-bg-color;
                }
            }
            ul.middlebar-menu-right {
                > li {
                    float: none;
                    display: block;

                    > a {
                        height: auto;
                        line-height: normal;
                    }
                }
                .navbar-search {
                    display: none !important;
                }
            }
            .navbar-search {
                display: none;
            }
            .navbar-search-field {
                position: fixed;
                display: block !important;
                background-color: @navbar-search-bg-color;
                top: 50px;
                height: 41px;
                border: 0px solid black;
                width: 100%;
                z-index: 89;
                overflow: hidden;
                padding: 5px;
                .sForm {
                    height: 33px;
                    float: left;
                    width: 90%;
                    input[type='text'] {
                        width: 100%;
                        padding: 5px;
                        border: 0;
                        height: 30px;
                    }
                }
                .zoek {
                    width: 8%;
                    color: #fff;
                    padding: 0 5px;
                    text-align: center;
                }
            }
        }
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: @md) {
    .navbar {
        position: relative;
        background-color: #fff;
        height: 125px;
        .topbar {
            height: 50px;
        }
        .middlebar {
            height: 75px;
        }
        .navbar-hamburger {
            display: none;
        }
        .collapse {
            left: auto !important;
            display: block !important;
        }
        .topbar {
            .topbar-menu-left {
                display: block;
            }
            .dropdown > ul {
                position: absolute;
                width: 250px;
                left: auto;
                right: -1px;
            }
        }
        .middlebar {
            .dropdown {
                ul {
                    position: absolute;
                    visibility: hidden;
                    opacity: 0;
                    right: 0;
                    li {
                        padding: 0;
                        margin: 0;
                        min-width: 250px;
                        width: 100%;
                        a {
                            display: block;
                            width: 100%;
                            padding: 10px;
                            &:hover {
                                background-color: #ccc;
                            }
                        }
                    }

                }
            }
            ul.middlebar-menu-left {
                position: absolute;
                height: 100%;
                padding-left: 10px;
                min-width: 200px;
                li {
                    display: inline-block;
                    vertical-align: middle;
                    height: 75px;
                    font-size: 12px;
                    border: none;
                }

            }
            ul.middlebar-menu-right {
                position: absolute;
                top: 0;
                right: 0;
                padding-right: 10px;
                > li {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: -4px;
                    border-right: 1px solid @middlebar-list-border-color;
                }
            }
        }

    }

    .navbar-search-field {
        display: none;
    }
    a.zoek:after {
        content: 's';
        font-family: 'kcicons';
    }

    a.activeS:after {
        font-family: 'Varela Round', sans-serif;
        content: 'X';
        font-size: 20px;
        width: 16px;
        display: inline-block;
    }

    a.zoek {
        padding: 0 15px 0 10px !important;
    }

    a.zoek.active {
        background: #808080 !important;
        color: #fff !important;
    }

    .sForm form input {
        position: absolute;
        top: 0px;
        display: none;
        left: -418px;
        border: solid 3px #808080;
        border-right: none;
        outline: none;
        width: 420px;
        height: 74px;
        box-sizing: border-box;
    }
}