.order-flow {
  border-bottom: solid 1px #ccc;
  padding: 10px 0;
  font-size: 11px;
  a {
    display: block;
  }
  .order-flow-details {
    display: inline-block;
    vertical-align: middle;
  }
  .order-flow-image {
    max-height: 100px;
  }
  .order-flow-details-body {
    padding: 15px;
    background-color: #fcfcfc;
    line-height: 15px;
    .order-flow-details-status {
      border-bottom: 1px dashed #ccc;
      padding: 10px 0;
    }
    strong {
      display: block;
      margin-top: 10px;
    }
  }

}

@media (min-width: @xs) {
  .order-flow {
    .order-flow-info strong {
      float: right;
    }
  }
}

@media (min-width: @md) {
  .order-flow-info strong {
    float: none !important;
  }

  .order-flow .md-1 {
    width: 14.285714285714285714285714285714%;
  }
}
