.thumbnail-card {
    position: relative;
    background-color: @thumbnail-card-bg-color;
    border: 1px solid @thumbnail-card-border-color;
    padding: 5px;
    margin-bottom: 25px;
    text-align: left;
    overflow: hidden;
    &:hover {
        .thumbnail-card-img {
            opacity: 0.5;
        }
        .thumbnail-card-label {
            opacity: 1;
        }
    }
    a {
        display: block;
    }
    .thumbnail-card-label {
        width: 100%;
        padding: 5px;
        margin: 0;
        background-color: @thumbnail-card-label-bg-color;
        opacity: 0.8;
        a {
            display: inline-block;
            vertical-align: middle;
            &:hover {
                transform: scale(1.1);
            }
            i {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
}