.visual {
    text-align: center;
    display: block;
    position: relative;
    background-color: @color-white;

    .inner-visual {
        min-height: 320px;
        margin-top: 50px;
        img {
            position: absolute;
            bottom: 0;
            max-width: 30%;
            z-index: 1;
        }
    }

    .container {
        overflow: visible;
    }

    .visual-img-left {
        left: 5%;
    }

    .visual-img-right {
        right: 5%;
    }

    h1 {
        font-size: 40px;
        line-height: 50px;
        margin: 10px auto 20px;
        font-family: @amaticFont;
    }

    p {
        max-width: 770px;
        font-size: 20px;
        margin: 0 auto 20px;
    }
    .container {
        z-index: 2;
    }

    .button-primary {
        color: #808080 !important;
        padding: 12px 30px !important;
        &:hover {
            color: #fff !important;
        }
    }
}

@media only screen and (min-width: 993px) {
    #visual-content {
        margin-top: 0;
    }
    .visual {
        .container {
            background: rgba(255,255,255,0);
            background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 20%, rgba(255,255,255,0.8) 80%, rgba(255,255,255,0) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(20%, rgba(255,255,255,0.8)), color-stop(80%, rgba(255,255,255,0.8)), color-stop(100%, rgba(255,255,255,0)));
            background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 20%, rgba(255,255,255,0.8) 80%, rgba(255,255,255,0) 100%);
            background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 20%, rgba(255,255,255,0.8) 80%, rgba(255,255,255,0) 100%);
            background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 20%, rgba(255,255,255,0.8) 80%, rgba(255,255,255,0) 100%);
            background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 20%, rgba(255,255,255,0.8) 80%, rgba(255,255,255,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
            min-height: 320px;
        }
    }
}