<link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,400i,700" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="/css/css/custom_new.css" rel="stylesheet" />
<link href="/css/custom-temp.css" rel="stylesheet" />
<div class="navbar">
    <div class="topbar">
        <div class="container">
            <button class="navbar-hamburger" type="button">
                <span class="icon-bar">&nbsp;</span>
                <span class="icon-bar">&nbsp;</span>
                <span class="icon-bar">&nbsp;</span>
            </button>
            <a class="logo" href="/"><img alt="Marsanda" class="logosmall" src="/img/logo-new.svg" /></a>
            <div class="topbar-menu-left">
                <a href="/prijzen" title="Gratis verzending">Gratis verzending</a>
                <a href="/proefdruk" title="Proefdruk 1,-">Proefdruk 1,-</a>
                <a href="/bezorging" title="Voor 18:00 besteld, zelfde dag verzonden">Voor 18:00 besteld, zelfde dag verzonden</a>
            </div>
            <div class="topbar-menu-right">
                <ul>
                    <li>
                        <a class="hphone" href="tel:0657693967" title="06-57693967">
                            <i class="icon icon-phone">&nbsp;</i>
                            <span>06- 576 939 67</span>
                        </a>
                    </li>
                    <li>
                        <a class="basket" href="/contact" title="Contact">
                            <i class="icon icon-mail">&nbsp;</i>
                            <span>Contact</span>
                        </a>
                    </li>
                    <li class="dropdown" id="navbar-logout">
                        <a class="account" href="javascript:void(0);" title="Account">
                            <i class="icon icon-user">&nbsp;</i>
                            <span>Account</span>
                        </a>
                        <ul class="dropdown-content">
                            <li>
                                <a href="/account_address">Persoonsgegevens</a>
                            </li>
                            <li>
                                <a href="/account_password">Wachtwoord wijzigen</a>
                            </li>
                            <li>
                                <a href="/account_orders">Bestellingen</a>
                            </li>
                            <li>
                                <a href="/eigen_collectie">Eigen collectie</a>
                            </li>
                            <li>
                                <a href="/logout">Uitloggen</a>
                            </li>
                        </ul>
                    </li>
                    <li id="navbar-login">
                        <a class="inloggen" href="/login" title="Inloggen">
                            <i class="icon icon-user">&nbsp;</i>
                            <span>Inloggen</span>
                        </a>
                    </li>
                    <li class="info dropdown">
                        <a class="help" href="/hulp" title="Hulp">
                            <i class="icon icon-info">&nbsp;</i>
                            <span>Info &amp; Prijzen</span>
                        </a>
                        <ul class="dropdown-content">
                            <li>
                                <a href="/kaartprijzen">Prijzen</a>
                            </li>
                            <li>
                                <a href="/proefdruk">Proefdruk</a>
                            </li>
                            <li>
                                <a href="/papiersoorten-info">Papiersoorten</a>
                            </li>
                            <li>
                                <a href="/enveloppen-info">Enveloppen</a>
                            </li>
                            <li>
                                <a href="/hoe_werkt_het">Hoe werkt het?</a>
                            </li>
                            <li>
                                <a href="/betalen">Betaling</a>
                            </li>
                            <li>
                                <a href="/bezorging">Bezorging</a>
                            </li>
                            <li>
                                <a href="/garantie">Garantie</a>
                            </li>
                            <li>
                                <a href="/wie-is-marsanda">Wie is Marsanda</a>
                            </li>
                            <li>
                                <a href="/algemene_voorwaarden">Algemene voorwaarden</a>
                            </li>
                        </ul>
                    </li>
                    <li class="basket-item">
                        <a class="basket" href="/basket_n" title="Winkelmandje">
                            <i class="icon icon-basket">&nbsp;</i>
                            <span id="navbar-basket">0 items</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="topbar-basket-mob">
                <i class="icon icon-basket">&nbsp;</i>
            </div>
            <div class="topbar-basket-menu-mob">
                <p class="basket-items-count">&nbsp;</p>
                <ul>
                    <li>
                        <a href="/basket_n">Winkelmand</a>
                    </li>
                    <li>
                        <a href="/account">Account</a>
                    </li>
                    <li>
                        <a href="/eigen_collectie">Eigen collectie</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                    <li>
                        <a href="/login">Inloggen</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="middlebar">
        <div class="container">
            <div class="collapse">
                <a class="logo" href="/" title="Marsanda"><img alt="Marsanda" src="/img/logo-new.svg" /></a>
                <ul class="middlebar-menu-left">
                    <li>
                        <a href="#">kaartjes voor ieder moment</a>
                    </li>
                </ul>
                <ul class="middlebar-menu-right">
                    <li>
                        <a href="/geboortekaartjes-jongens">Jongens</a>
                    </li>
                    <li>
                        <a href="/geboortekaartjes-meisjes">Meisjes</a>
                    </li>
                    <li>
                        <a href="/kraamborrel-kaartjes">Kraamborrel</a>
                    </li>
                    <li>
                        <a href="/nieuwe-kaartjes">Nieuwe kaartjes</a>
                    </li>
                    <li>
                        <a href="/zelf-maken">Zelf maken</a>
                    </li>
                    <li>
                        <a href="/enveloppen-info">Enveloppen</a>
                    </li>
                </ul>
            </div>
            <div class="open-navbar-search">
                <i class="icon icon-search">&nbsp;</i>
            </div>
            <div class="navbar-search-field">
                <form _lpchecked="1" action="/zoeken" id="headersearch" style="text-align:right;">
                    <meta content="https://shop77.kaart-o-matic.nl/zoeken?qry={qry}" />
                    <button class="search-button-field">
                        <i class="icon icon-search">&nbsp;</i>
                    </button>
                    <div class="search-input-field">
                        <input name="qry" placeholder="Je zoekterm + enter" type="text" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Start of Zendesk Chat Script-->
<script type="text/javascript">
window.$zopim || (function(d, s) {
    var z = $zopim = function(c) { z._.push(c) },
        $ = z.s =
        d.createElement(s),
        e = d.getElementsByTagName(s)[0];
    z.set = function(o) {
        z.set.
        _.push(o)
    };
    z._ = [];
    z.set._ = [];
    $.async = !0;
    $.setAttribute("charset", "utf-8");
    $.src = "https://v2.zopim.com/?4cf6xdc0WkFWfj52rQ16n3RIjtkwAEQ2";
    z.t = +new Date;
    $.
    type = "text/javascript";
    e.parentNode.insertBefore($, e)
})(document, "script");
</script>
<!--End of Zendesk Chat Script-->