.floatAdmin {
    top: 200px !important;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:300,400,400i,700');






/*@font-face {
  font-family: kcicons;
  src: url('/css/fonts/kcicons.eot');
  src: url('/css/fonts/kcicons.eot?#iefix') format("embedded-opentype"),
  url('/css/fonts/kcicons.woff') format("woff"),
  url('/css/fonts/kcicons.ttf') format("truetype"),
  url('/css/fonts/kcicons.svg#untitled-font-1') format("svg");
  font-weight: 400!important;
  font-style: normal;
}
*/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #666;
    background-image: url(/img/background-body.jpg);
    background-repeat: repeat;
    background-size: 306px 277px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2 {
    font-weight: 700;
}

p.intro {
    font-size: 17px;
}

a {
    color: #8d9e9e;
}

a:hover {
    color: #bcc;
}

@media screen and (max-width: 1199px) {
    body:not(#body_home) #mid {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        margin-top: 90px;
        width: calc(100% - 30px);
    }
    .content-wrapper {
        padding: 0;
    }
}

@media screen and (min-width: 768px) {
    body:not(#body_home) #mid {
        margin-top: 60px;
    }
}

@media screen and (min-width: 992px) {
    body:not(#body_home) #mid {
        margin-top: 125px;
    }
}

.container {
    height: auto;
}

.content-wrapper {
    top: 10px;
    padding-top: 20px;
}

.container-fluid {
    width: 100%;
    max-width: 100%;
}

.img-responsive {
    max-width: 100%;
}

@media screen and (max-width: 991px) {
    #categories {
        display: none;
    }
    #pagecontent {
        width: 100%;
    }
}







/* ICONS ------------------------------------------------------------------------------------------------------------ */

.icon-mail:after {
    content: "\e02E";
}

.icon-user:after {
    content: "\e02D";
}







/* BUTTONS ---------------------------------------------------------------------------------------------------------- */

.button-success {
    border-color: transparent;
    border-radius: 0;
    padding: 8px 30px;
}







/* NAVBAR ----------------------------------------------------------------------------------------------------------- */

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 99;
    background-color: #bcc;
}

.navbar.navbar-collapsed {
    height: 50px;
    overflow-y: hidden;
}

.navbar .topbar {
    height: 50px;
    padding-left: 10px;
    padding-right: 15px;
}

.navbar .topbar .topbar-menu-left {
    display: none;
}

.navbar .topbar .topbar-menu-right {
    position: absolute;
    display: inline-block;
    right: 37px;
}


.navbar .topbar .topbar-menu-right>ul>li a {
    padding: 10px 0px;
    color: #666;
}

@media only screen and (min-width: 480px) {
    .navbar .topbar .topbar-menu-right>ul>li a {
        padding: 10px 5px;
    }
}

.navbar .topbar .topbar-menu-right>ul>li.basket-item {
    display: none;
}

.navbar .topbar .topbar-menu-right>ul>li.info {
    display: inline-block;
}

.navbar .topbar .topbar-menu-right>ul>li.info a {
    color: #666;
}

.navbar .topbar .topbar-menu-right>ul>li.dropdown .icon-chevron-down {
    display: none;
}

@media only screen and (min-width: 768px) {
    .navbar .topbar .topbar-menu-right {
        display: inline-block;
        float: right;
        padding-top: 5px;
        padding-right: 5px;
    }
}

@media only screen and (min-width: 992px) {
    .navbar .topbar .topbar-menu-right>ul>li.info .icon-chevron-down {
        display: inline-block;
    }
    .navbar .topbar .topbar-menu-right {
        padding: 0px;
    }
}

.navbar .topbar .topbar-menu-right>ul>li.dropdown.active>ul>li a:hover {
    background-color: #666;
}

.navbar .middlebar {
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar .collapse {
    background: [[kleur1]];
    position: fixed;
    display: none;
    width: 100%;
    overflow-y: scroll;
    top: 100px;
    left: 0;
    bottom: 0;
}

.navbar .middlebar .collapse .navbar-search {
    display: none;
}

.navbar .navbar-hamburger {
    cursor: pointer;
    padding: 4px 10px 4px 0;
    background-color: transparent;
    border: 1px solid transparent;
    margin: 8px 0;
    outline: none;
    width: 38px;
    display: inline-block;
    height: auto;
}

.navbar .navbar-hamburger .icon-bar {
    display: block;
    margin: 3px 0;
    width: 100%;
    height: 4px;
    border-radius: 1px;
    background-color: #666;
}

.navbar a.logo {
    color: #bcc;
    font-size: 20px;
    vertical-align: middle;
    line-height: 45px;
}

.navbar .topbar a.logo {
    width: auto;
    text-align: left;
    display: inline-block;
}

.navbar .topbar a.logo img {
    max-width: 100%;
    width: 100px;
    max-height: 40px;
    margin: 0 auto;
}

@media only screen and (min-width: 480px) {
    .navbar .topbar a.logo img {
        width: 160px;
    }
}

.navbar .topbar .topbar-basket-mob {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    float: right;
    padding: 10px 0;
    width: 50px;
    cursor: pointer;
    text-align: right;
}

.navbar .topbar .topbar-basket-mob i {
    color: #666;
    font-size: 20px;
}

.navbar .topbar .topbar-basket-menu-mob {
    position: relative;
    background-color: #fff;
    padding: 15px 0;
    margin-top: 50px;
    z-index: 99;
    display: none;
    margin-left: -15px;
    margin-right: -15px;
}

.navbar .topbar .topbar-basket-menu-mob p {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar .topbar .topbar-basket-menu-mob ul li {
    border-top: 1px solid #eee;
}

.navbar .topbar .topbar-basket-menu-mob ul li a {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar .middlebar {
    background-color: #d8e4e0;
}

.navbar .middlebar a.logo {
    display: none;
}

.navbar .middlebar ul.middlebar-menu-right li:first-child {
    border-left: none;
}

.navbar .middlebar ul.middlebar-menu-left li a,
.navbar .middlebar ul.middlebar-menu-right li a {
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
}

.navbar .middlebar ul.middlebar-menu-left li a:hover,
.navbar .middlebar ul.middlebar-menu-right li a:hover {
    background-color: #eee;
}

.navbar .middlebar .open-navbar-search {
    display: none;
}

.navbar .middlebar .navbar-search-field {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 89;
    padding: 10px 10px;
    background-color: transparent;
}

.navbar .middlebar .navbar-search-field.search-field-show {
    display: none !important;
}

.navbar .middlebar .navbar-search-field .search-button-field {
    float: right;
    display: block;
    border: none;
    height: 30px;
    width: 40px;
    padding: 0 0 0 10px;
    cursor: pointer;
    background-color: transparent;
}

.navbar .middlebar .navbar-search-field .search-button-field i {
    font-size: 17px;
    color: #666;
}

.navbar .middlebar .navbar-search-field .search-button-field i:after {
    color: #666;
}

.navbar .middlebar .navbar-search-field .search-input-field {
    overflow: hidden;
}

.navbar .middlebar .navbar-search-field .search-input-field input[type="text"] {
    display: block;
    border: none;
    width: 100%;
    height: 30px;
    padding: 0 10px;
}

@media only screen and (min-width: 768px) {
    .navbar {
        height: 60px;
        background: transparent;
    }
    .navbar .topbar {
        background-color: #bcc;
        height: 60px;
    }
    .navbar .navbar-hamburger {
        margin: 13px 0;
    }
    .navbar .topbar a.logo {
        width: calc(100% - 395px);
        text-align: left;
    }
    .navbar .topbar a.logo img {
        max-height: 60px;
    }
    .navbar .topbar .topbar-basket-mob {
        width: 40px;
        padding: 15px 0;
    }
    .navbar .topbar .topbar-basket-menu-mob {
        margin-top: 0;
    }
    .navbar .middlebar {
        background-color: #bcc;
        position: absolute;
        right: 156px;
        width: 290px;
        top: 0;
    }
    .navbar .collapse {
        top: 60px;
        background-color: #fff;
    }
    .navbar .middlebar ul.middlebar-menu-right li:first-child {
        border-left: 1px solid #fff;
    }
    .navbar .middlebar .navbar-search-field {
        top: 0;
        padding: 15px 0;
        width: 280px;
    }
    .navbar .middlebar .navbar-search-field .search-button-field {
        padding: 0;
    }
    .navbar .middlebar .navbar-search-field .search-input-field input[type="text"] {
        width: 250px;
    }
}

@media screen and (max-width: 991px) {
    .navbar .middlebar .middlebar-menu-left {
        display: none;
    }
}







/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
    .navbar {
        position: absolute;
        left: 0;
        top: 0;
        height: 125px;
    }
    .navbar .topbar {
        height: 50px;
        background: transparent;
    }
    .navbar .navbar-hamburger,
    .navbar .topbar a.logo,
    .navbar .topbar .topbar-basket-mob {
        display: none;
    }
    .navbar .topbar .topbar-menu-right {
        display: inline-block;
        padding-right: 0;
    }
    .navbar .topbar .topbar-menu-right>ul {
        margin-bottom: 0;
    }
    .navbar .topbar .topbar-menu-right>ul>li {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        border: 1px solid transparent;
    }
    .navbar .topbar .topbar-menu-right>ul>li:hover {
        border: 1px solid transparent;
    }
    .navbar .topbar .topbar-menu-right>ul>li a {
        display: block;
        padding: 10px 5px;
        margin: 0;
        border: none;
        color: #666;
        font-size: 14px;
    }
    .navbar .topbar .topbar-menu-right>ul>li i:after {
        color: #bcc;
    }
    .navbar .topbar .topbar-menu-right>ul>li:last-of-type a {
        padding-right: 0;
    }
    .navbar .topbar .topbar-menu-right>ul>li a:hover {
        color: #bcc;
    }
    .navbar .topbar .topbar-menu-right>ul>li a:active,
    .navbar .topbar .topbar-menu-right>ul>li a:focus {
        color: #666;
    }
    .navbar .topbar .topbar-menu-right>ul>li a i {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
    }
    .navbar .topbar .topbar-menu-right>ul>li i {
        display: inline-block;
        vertical-align: middle;
        padding-right: 5px;
    }
    .navbar .topbar .topbar-menu-right>ul>li .icon-chevron-down {
        padding-left: 0;
        padding-right: 0;
    }
    .navbar .topbar .topbar-menu-right>ul>li.dropdown {
        position: relative;
    }
    .navbar .topbar .topbar-menu-right>ul>li.dropdown.active {
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;
        background: #fff;
        z-index: 999;
    }
    .navbar .topbar .topbar-menu-right>ul>li.dropdown.active a,
    .navbar .topbar .topbar-menu-right>ul>li.dropdown.active a:active {
        background: #fff;
    }
    .navbar .topbar .topbar-menu-right>ul>li.dropdown>ul>li:hover a {
        color: #fff;
    }
    .navbar .topbar .topbar-menu-right>ul>li.dropdown .dropdown-content {
        display: none;
    }
    .navbar .topbar .topbar-menu-right>ul>li.dropdown>a {
        position: relative;
        display: block;
        background-color: transparent;
        z-index: 33;
    }
    .navbar .topbar .topbar-menu-right>ul>li.dropdown>ul {
        width: auto;
        right: 0;
        margin-top: -1px;
        background: #fff;
        border: 1px solid #eee;
        position: absolute;
        left: auto;
    }
    .navbar .topbar .topbar-menu-right>ul>li.dropdown>ul>li {
        display: block;
        position: relative;
    }
    .navbar .topbar .topbar-menu-right>ul>li.dropdown>ul>li>a {
        display: block;
        padding: 5px 10px;
        text-align: left;
    }
    .navbar .topbar .topbar-menu-right>ul>li.dropdown>ul>li:hover {
        background: #666;
    }
    .navbar .topbar .topbar-menu-right>ul>li.dropdown>ul>li:hover a {
        color: #fff;
    }
    .navbar .topbar .dropdown:hover {
        border-left: none;
        border-right: none;
        background-color: transparent;
        z-index: 999;
    }
    .navbar .middlebar {
        height: 75px;
        top: 50px;
        width: 100%;
        right: 0;
    }
    .navbar .collapse {
        display: block;
        left: auto;
        bottom: auto;
        top: 0;
        position: relative;
        background: #bcc;
        height: 75px;
        overflow-y: inherit;
        /*overflow: auto;*/
    }
    .navbar .middlebar a.logo {
        position: relative;
        display: inline;
        line-height: 62px;
        font-size: 45px;
    }
    .navbar .middlebar a.logo img {
        position: relative;
        height: 45px;
    }
    .navbar .middlebar ul.middlebar-menu-right {
        margin-bottom: 0;
        position: absolute;
        top: 0;
        height: 75px;
        right: 0;
    }
    .navbar .middlebar ul.middlebar-menu-left li,
    .navbar .middlebar ul.middlebar-menu-right li {
        display: inline-block;
        position: relative;
        height: 100%;
    }
    .navbar .middlebar ul.middlebar-menu-right li {
        border-right: 1px solid #fff;
        margin-left: -3px;
    }
    .navbar .middlebar ul.middlebar-menu-right li:first-child {
        border-left: 1px solid #fff;
    }
    .navbar .middlebar ul.middlebar-menu-right>li i {
        display: inline-block;
        vertical-align: middle;
        padding: 0 5px;
    }
    .navbar .middlebar ul.middlebar-menu-left>li a {
        position: relative;
        display: inline-block;
        height: 100%;
        line-height: 1em;
        overflow: hidden;
        padding: 0;
        border-bottom: 0;
        font-size: 16px;
    }
    .navbar .middlebar ul.middlebar-menu-right>li a {
        position: relative;
        display: inline-block;
        height: 100%;
        line-height: 1em;
        overflow: hidden;
        padding: calc(37.5px - 0.5em) 15px;
        border-bottom: 0;
        font-size: 16px;
        color: #666;
    }
    .navbar .middlebar ul.middlebar-menu-left>li a {
        color: #fff;
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: 400;
    }

    .navbar .middlebar ul.middlebar-menu-right li a:hover,
    .navbar .middlebar ul.middlebar-menu-right li a:active,
    .navbar .middlebar ul.middlebar-menu-right li a:focus,
    .navbar .middlebar ul.middlebar-menu-left li a:hover,
    .navbar .middlebar ul.middlebar-menu-left li a:active,
    .navbar .middlebar ul.middlebar-menu-left li a:focus {
        color: #666;
    }
    .navbar .middlebar ul.middlebar-menu-right li a:hover {
        background: #d8e4e0;
    }
    .navbar .middlebar ul.middlebar-menu-left li a:hover {
        color: #fff;
        background: transparent;
        cursor: text;
    }

    .navbar .middlebar ul.middlebar-menu-left .dropdown,
    .navbar .middlebar ul.middlebar-menu-right .dropdown {
        position: relative;
    }

    .navbar .middlebar ul.middlebar-menu-left .dropdown>ul,
    .navbar .middlebar ul.middlebar-menu-right .dropdown>ul {
        position: absolute;
        right: 0;
        left: auto;
        top: 0;
        margin-top: 75px;
        margin-bottom: -9px;
        background-color: #fff;
        display: none;
        z-index: 999;
        width: 100%;
        min-width: 200px;
    }
    .navbar .middlebar ul.middlebar-menu-left .dropdown>ul li,
    .navbar .middlebar ul.middlebar-menu-right .dropdown>ul li {
        padding: 0;
        margin-left: 0;
        margin-top: -6px;
        width: 100%;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #eee;
    }
    .navbar .middlebar ul.middlebar-menu-left .dropdown>ul li:first-of-type,
    .navbar .middlebar ul.middlebar-menu-right .dropdown>ul li:first-of-type {
        margin-top: 0;
    }

    .navbar .middlebar ul.middlebar-menu-left .dropdown>ul li:last-of-type,
    .navbar .middlebar ul.middlebar-menu-right .dropdown>ul li:last-of-type {
        border-bottom: none;
    }
    .navbar .middlebar ul.middlebar-menu-left .dropdown>ul li a,
    .navbar .middlebar ul.middlebar-menu-right .dropdown>ul li a {
        display: block;
        width: 100%;
        padding: 10px;
    }
    .navbar .middlebar ul.middlebar-menu-left .dropdown>ul li a:hover,
    .navbar .middlebar ul.middlebar-menu-right .dropdown>ul li a:hover {
        background-color: #bcc;
        color: #fff;
    }
    .navbar .middlebar .navbar-search-field {
        display: none;
        position: absolute;
        top: -50px;
        right: 15px;
        left: auto;
        height: 50px;
        width: 220px;
        z-index: 89;
        padding: 10px;
    }
    .navbar .middlebar .navbar-search-field .search-button-field {
        position: absolute;
        right: 0;
        top: 10px;
        display: block;
        height: 30px;
        border: none;
        width: 30px;
        padding: 0;
        cursor: pointer;
        background-color: transparent;
        text-align: left;
        z-index: 89;
    }
    .navbar .middlebar .navbar-search-field .search-input-field input[type="text"] {
        position: absolute;
        right: 0;
        display: block;
        width: 175px;
        height: 30px;
        padding: 5px 10px;
        border: 1px solid #eee;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar .middlebar ul.middlebar-menu-left {
        margin-bottom: 0;
        position: absolute;
        top: 50px;
        left: 0;
        height: 25px;
        min-width: 200px;
        display: inline;
        padding-left: 0;
    }
    .navbar .topbar .topbar-menu-right {
        position: absolute;
        top: 0;
        right: 0;
    }
}

@media only screen and (min-width: 1200px) {
    .navbar .topbar .topbar-menu-left {
        display: inline-block;
    }
    .navbar .topbar .topbar-menu-left li {
        padding: 0 5px;
        margin: 10px 0;
    }
    .navbar .topbar .topbar-menu-left a {
        display: inline-block;
        vertical-align: middle;
        padding: 0;
        margin: 10px 0;
        height: 100%;
        color: #666;
        font-size: 14px;
    }
    .navbar .topbar .topbar-menu-left a:first-of-type {
        padding-left: 0;
    }
    .navbar .topbar .topbar-menu-left a:after {
        content: "\25CF";
        margin-left: 5px;
    }
    .navbar .topbar .topbar-menu-left a:last-of-type:after {
        content: " ";
    }
    .navbar .topbar .topbar-menu-right {
        float: right;
    }
    .navbar .middlebar .container {
        position: relative;
    }
    .navbar .middlebar ul.middlebar-menu-left {
        display: inline;
        position: relative;
    }
    .navbar .middlebar ul.middlebar-menu-left li a {
        padding: calc(37.5px - 0.5em) 0;
    }
    .navbar .middlebar ul.middlebar-menu-right {
        right: 45px;
    }
    .navbar .middlebar .open-navbar-search {
        position: absolute;
        top: 0;
        right: 15px;
        height: 75px;
        width: 30px;
        z-index: 99;
        display: block;
        padding-top: 22px;
        text-align: center;
    }
    .navbar .middlebar .open-navbar-search i {
        font-size: 17px;
        color: #666;
    }
    .navbar .middlebar .navbar-search-field {
        position: absolute;
        top: 0;
        height: 75px;
        width: 220px;
        z-index: 89;
        padding: 0;
        padding-left: 20px;
        display: none;
        background: #d8e4e0;
    }
    .navbar .middlebar .navbar-search-field .search-button-field {
        height: 25px;
        border: none;
        width: 30px;
        padding: 0;
        text-align: center;
        margin: 15px 0;
    }
    .navbar .middlebar .navbar-search-field .search-input-field {
        width: 170px;
    }
    .navbar .middlebar .navbar-search-field .search-input-field input[type="text"] {
        right: 30px;
        height: 45px;
        border: none;
        margin: 15px 0;
        width: 170px;
    }
}







/* SIDE MENU -------------------------------------------------------------------------------------------------------- */

#categories #sidebar .sidebar_widget>h3 {
    display: none;
}

#categories #sidebar .sidebar_widget .widget_content .list {
    margin-top: 0;
}

#categories #sidebar .sidebar_widget .widget_content .list-vertical>li>a:before,
#categories #sidebar .sidebar_widget .widget_content .list-vertical>li>a:after,
#categories #sidebar #filter_cards ul li h3:before,
#categories #sidebar #filter_cards ul li h3:after {
    background-size: cover;
    width: 15px;
    height: 36px;
    content: '';
    display: inline-block;
    vertical-align: middle;
}

#categories #sidebar .sidebar_widget .widget_content .list-vertical>li>a:before,
#categories #sidebar #filter_cards ul li h3:before {
    background: url('/img/button-background-left.png');
    margin-left: -15px;
}

#categories #sidebar .sidebar_widget .widget_content .list-vertical>li>a:after,
#categories #sidebar #filter_cards ul li h3:after {
    background: url('/img/button-background-right.png');
    background-size: cover;
    margin-right: -15px;
    float: right;
}

#categories #sidebar .sidebar_widget .widget_content .list-vertical>li>a,
#categories #sidebar #filter_cards ul li h3 {
    background: #c5d4d4;
    width: calc(80% - 30px);
    display: inline-block;
    margin: 0 15px;
    vertical-align: middle;
    padding: 0;
}

#categories #sidebar #filter_cards ul li h3 {
    font-size: 15px;
    margin-bottom: 10px;
}

#categories #sidebar #filter_cards ul li ul li {
    color: #bcc;
    padding-left: 15px;
}

#categories #sidebar #filter_cards ul li ul li label {
    font-weight: normal;
}

#categories #sidebar .sidebar_widget .widget_content .list-vertical>li>a.image-link {
    background: none;
    margin: 0 0 15px 15px;
}

#categories #sidebar .sidebar_widget .widget_content .list-vertical>li>a.image-link:before,
#categories #sidebar .sidebar_widget .widget_content .list-vertical>li>a.image-link:after {
    background: none;
    height: 0;
    width: 0;
}

#categories #sidebar .sidebar_widget .widget_content .list-vertical li ul {
    border-left: none;
}

#categories #sidebar .sidebar_widget .widget_content .list-vertical li ul li a {
    color: #bcc;
}

#filter_menu li.tag-li input {
    display: none;
}

#filter_menu .tag-li label {
    font-weight: normal;
}

#filter_menu li.tag-li .custom_checkbox {
    border: 1px solid #dddddd;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
}

#filter_menu li.tag-li .number-of-tags {
    color: #7e7f83;
    font-style: normal;
    margin-left: 3px;
}

#filter_menu ul li input[type=checkbox]:checked+label .custom_checkbox:after,
#filter_menu ul li label:hover .custom_checkbox:after {
    font-family: kcicons;
    color: #7e7f83;
    content: "\e010";
    font-size: 12px;
    line-height: 0.5em;
    vertical-align: text-top;
    padding-left: 1px;
}

@media screen and (min-width: 992px) {
    #tagli-blauw,
    #tagli-rood,
    #tagli-paars,
    #tagli-bruin,
    #tagli-grijs,
    #tagli-roze,
    #tagli-geel,
    #tagli-zwart,
    #tagli-wit,
    #tagli-oranje,
    #tagli-kleurrijk,
    #tagli-blauw,
    #tagli-groen,
    #tagli-goud,
    #tagli-zilver {
        width: 30px;
        height: 30px;
        display: inline-block;
        margin: 0 10px 10px 0;
        float: left;
        padding-left: 0 !important;
    }
    #tagli-blauw label,
    #tagli-rood label,
    #tagli-paars label,
    #tagli-bruin label,
    #tagli-grijs label,
    #tagli-roze label,
    #tagli-geel label,
    #tagli-zwart label,
    #tagli-wit label,
    #tagli-oranje label,
    #tagli-kleurrijk label,
    #tagli-blauw label,
    #tagli-groen label,
    #tagli-goud label,
    #tagli-zilver label {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid #dddddd;
        color: transparent;
    }
    #tagli-blauw label .number-of-tags,
    #tagli-rood label .number-of-tags,
    #tagli-paars label .number-of-tags,
    #tagli-bruin label .number-of-tags,
    #tagli-grijs label .number-of-tags,
    #tagli-roze label .number-of-tags,
    #tagli-geel label .number-of-tags,
    #tagli-zwart label .number-of-tags,
    #tagli-wit label .number-of-tags,
    #tagli-oranje label .number-of-tags,
    #tagli-kleurrijk label .number-of-tags,
    #tagli-blauw label .number-of-tags,
    #tagli-groen label .number-of-tags,
    #tagli-goud label .number-of-tags,
    #tagli-zilver label .number-of-tags {
        display: none;
    }
    #tagli-blauw label .custom_checkbox,
    #tagli-rood label .custom_checkbox,
    #tagli-paars label .custom_checkbox,
    #tagli-bruin label .custom_checkbox,
    #tagli-grijs label .custom_checkbox,
    #tagli-roze label .custom_checkbox,
    #tagli-geel label .custom_checkbox,
    #tagli-zwart label .custom_checkbox,
    #tagli-wit label .custom_checkbox,
    #tagli-oranje label .custom_checkbox,
    #tagli-kleurrijk label .custom_checkbox,
    #tagli-blauw label .custom_checkbox,
    #tagli-groen label .custom_checkbox,
    #tagli-goud label .custom_checkbox,
    #tagli-zilver label .custom_checkbox {
        border: none !important;
        margin: 3px 6px;
    }
    #tagli-blauw input[type=checkbox]:checked+label .custom_checkbox:after,
    #tagli-rood input[type=checkbox]:checked+label .custom_checkbox:after,
    #tagli-paars input[type=checkbox]:checked+label .custom_checkbox:after,
    #tagli-bruin input[type=checkbox]:checked+label .custom_checkbox:after,
    #tagli-grijs input[type=checkbox]:checked+label .custom_checkbox:after,
    #tagli-roze input[type=checkbox]:checked+label .custom_checkbox:after,
    #tagli-zwart input[type=checkbox]:checked+label .custom_checkbox:after,
    #tagli-oranje input[type=checkbox]:checked+label .custom_checkbox:after,
    #tagli-blauw input[type=checkbox]:checked+label .custom_checkbox:after,
    #tagli-groen input[type=checkbox]:checked+label .custom_checkbox:after,
    #tagli-goud input[type=checkbox]:checked+label .custom_checkbox:after,
    #tagli-zilver input[type=checkbox]:checked+label .custom_checkbox:after,
    #tagli-blauw label:hover .custom_checkbox:after,
    #tagli-rood label:hover .custom_checkbox:after,
    #tagli-paars label:hover .custom_checkbox:after,
    #tagli-bruin label:hover .custom_checkbox:after,
    #tagli-grijs label:hover .custom_checkbox:after,
    #tagli-roze label:hover .custom_checkbox:after,
    #tagli-zwart label:hover .custom_checkbox:after,
    #tagli-oranje label:hover .custom_checkbox:after,
    #tagli-blauw label:hover .custom_checkbox:after,
    #tagli-groen label:hover .custom_checkbox:after,
    #tagli-goud label:hover .custom_checkbox:after,
    #tagli-zilver label:hover .custom_checkbox:after {
        color: #fff !important;
    }
    #tagli-geel input[type=checkbox]:checked+label .custom_checkbox:after,
    #tagli-geel label:hover .custom_checkbox:after,
    #tagli-wit input[type=checkbox]:checked+label .custom_checkbox:after,
    #tagli-wit label:hover .custom_checkbox:after,
    #tagli-kleurrijk input[type=checkbox]:checked+label .custom_checkbox:after,
    #tagli-kleurrijk label:hover .custom_checkbox:after {
        color: #7e7f83;
    }
    #tagli-rood label {
        background: #db1704;
    }
    #tagli-paars label {
        background: #7a4dac;
    }
    #tagli-bruin label {
        background: #7b6a4f;
    }
    #tagli-grijs label {
        background: #92959f;
    }
    #tagli-roze label {
        background: #d53276;
    }
    #tagli-geel label {
        background: yellow;
    }
    #tagli-zwart label {
        background: #000000;
    }
    #tagli-wit label {
        background: #ffffff;
    }
    #tagli-oranje label {
        background: orange;
    }
    #tagli-kleurrijk label {
        background: #db1704;
        background: -webkit-linear-gradient(left, #db1704, orange, yellow, #9bc576, #2286dd, #d53276);
        background: -o-linear-gradient(right, #db1704, orange, yellow, #9bc576, #2286dd, #d53276);
        background: -moz-linear-gradient(right, #db1704, orange, yellow, #9bc576, #2286dd, #d53276);
        background: linear-gradient(right, #db1704, orange, yellow, #9bc576, #2286dd, #d53276);
    }
    #tagli-blauw label {
        background: #2286dd;
    }
    #tagli-groen label {
        background: #9bd576;
    }
    #tagli-goud label {
        background: #DAA520;
        background: -webkit-linear-gradient(left, #F5F5DC, #DAA520, #DAA520, #F5F5DC);
        background: -o-linear-gradient(right, #F5F5DC, #DAA520, #DAA520, #F5F5DC);
        background: -moz-linear-gradient(right, #F5F5DC, #DAA520, #DAA520, #F5F5DC);
        background: linear-gradient(right, #F5F5DC, #DAA520, #DAA520, #F5F5DC);
    }
    #tagli-zilver label {
        background: #C0C0C0;
        background: -webkit-linear-gradient(left, #F8F8FF, #C0C0C0, #C0C0C0, #F8F8FF);
        background: -o-linear-gradient(right, #F8F8FF, #C0C0C0, #C0C0C0, #F8F8FF);
        background: -moz-linear-gradient(right, #F8F8FF, #C0C0C0, #C0C0C0, #F8F8FF);
        background: linear-gradient(right, #F8F8FF, #C0C0C0, #C0C0C0, #F8F8FF);
    }
}








/* LISTS ------------------------------------------------------------------------------------------------------------ */

.list-vertical li ul {
    border-left: 2px solid #bcc;
}

.list-vertical li ul li a {
    color: #666;
}







/* TABLES ----------------------------------------------------------------------------------------------------------- */

.table>thead>tr>th {
    background-color: #c5d4d4;
}







/* HOME PAGE -------------------------------------------------------------------------------------------------------- */

#header-full-width {
    margin-bottom: 30px;
    margin-top: 100px;
}

@media screen and (max-width: 767px) {
    .header-side-image {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    #header-full-width {
        margin-top: 60px;
    }
}

@media screen and (min-width: 992px) {
    #header-full-width {
        margin-top: 125px;
    }
}

.header-text-img {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 40px;
}

@media screen and (max-width: 991px) {
    .header-text-img {
        margin-top: 20px;
    }
}

.header-button-new-card {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
}

.header-button-new-card a {
    border: 1px dashed #666;
    padding: 10px 15px;
    font-size: 18px;
}

@media screen and (min-width: 768px) {
    .header-button-new-card a:before,
    .header-button-new-card a:after {
        content: 'o';
        font-family: kcicons;
        border: 1px solid #bcc;
        border-radius: 50%;
        color: #bcc;
        font-size: 15px;
        padding: 3px;
    }
    .header-button-new-card a:before {
        margin-right: 10px;
    }
    .header-button-new-card a:after {
        margin-left: 10px;
    }
}

.image-buttons .cols .sm-6:nth-child(2n+3) {
    clear: none;
}

.image-button {
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 0 10px;
}

.image-button-background {
    background: url('/img/image-background.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 100%;
    padding: 0 20px 20px 20px;
}

.image-button-background img {
    width: 100%;
    margin: auto;
    box-shadow: 0 0 5px 2px #ddd;
}

.image-button h2 {
    font-weight: 400;
    font-size: 18px;
    text-align: right;
    padding: 5px 20px;
}

#body_home h3 {
    color: #bcc;
}








/* ZELF MAKEN ------------------------------------------------------------------------------------------------------- */

#body_zelf-maken #categories {
    display: none;
}

#body_zelf-maken #pagecontent {
    width: 100%;
}

#body_zelf-maken #pagebody>h1 {
    display: none;
}

#body_zelf-maken .create-yourself-header {
    margin: 10px 0 20px 0;
}

.card-block {
    background-color: #f9f9f9;
    border: none;
}

.card-block .card-block-title,
.card-block .card-block-footer {
    color: #666;
}

#body_zelf-maken .button-block {
    height: 235px;
}

#body_zelf-maken .button-block>a,
#body_zelf-maken .button-block>a:hover {
    background-color: #bfbfbf;
}

#body_zelf-maken .button-block>a .button-block-content {
    display: inline-block;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

#body_zelf-maken .button-block>a .button-block-text {
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 22px;
}







/* DESIGN PAGE ------------------------------------------------------------------------------------------------------ */

#body_design #mid {
    overflow: visible;
}

#body_design #categories {
    display: none;
}

#body_design .design-content {
    margin-left: 0;
    margin-right: 0;
    width: calc(100% + 30px);
    padding-left: 15px;
    padding-right: 15px;
}

#body_design #pagecontent {
    width: calc(100% - 30px);
}

@media screen and (max-width: 767px) {
    #body_design .crumb-mobile {
        top: 0;
    }
    #body_design #card_order_info {
        padding-top: 20px;
    }
}

#body_design .swiper-slide .img-responsive {
    max-width: 100%;
    width: auto;
}

#body_design .box-body>h1 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 30px;
}

#body_design #choose_preview {
    border-radius: 5px;
    padding: 8px;
}

@media screen and (min-width: 1200px) {
    #body_design #choose_preview {
        padding: 8px 30px;
    }
    #body_design #choose_preview:after {
        content: '- - - - - - - > > >';
    }
}

#body_design #choose_preview .icon:after {
    content: '';
}

#body_design .proefDrukPrijs {
    margin: 0;
}

#body_design .add_to_collection,
#body_design .open_calculator {
    padding: 3px 10px;
    border: 1px solid #bcc;
    border-radius: 0;
}

#body_design .add_to_collection i,
#body_design .add_to_collection a,
#body_design .open_calculator i,
#body_design .open_calculator a {
    line-height: 1;
}

#body_design .add_to_collection .icon-favorite-heart:after {
    content: 'o';
    color: #bcc;
}

#body_design .open_calculator .openPrijsCalculator {
    text-transform: none;
    font-size: 15px;
}

#body_design .open_calculator .icon-calculator:after {
    color: #bcc;
}

#body_design .desUsp {
    background-color: #d8e4e0;
    border-radius: 0;
}

#body_design .desUsp a {
    display: block;
}

#body_design .desUsp a:before {
    content: 'o';
    font-family: kcicons;
    color: #fff;
    margin-right: 10px;
}

#body_design table.prijsOf td.priceInfoTd div.priceHover {
    display: none;
    z-index: 500;
    padding: 15px;
    background: #fff;
    position: absolute;
    top: 5px;
    right: 10px;
    width: 270px;
    -webkit-box-shadow: 0 0 5px 0 #575757;
    box-shadow: 0 0 5px 0 #575757
}

#body_design table.prijsOf td.priceInfoTd:hover div.priceHover {
    display: block;
}

#body_design table.prijsOf td.priceInfoTd div.priceHover table td.priceHoverName {
    width: 220px;
}

#body_design table.prijsOf td.priceInfoTd div.priceHover table td.priceHoverPrice {
    width: 150px;
}

#body_design table.prijsOf td.priceInfoTd div.priceHover table td.priceHoverPrice:after {
    content: ' p/st';
    vertical-align: top;
}

#body_design table.prijsOf td.priceInfoTd:before {
    font-family: kcicons;
    content: 'k';
    cursor: pointer;
    padding-left: 5px;
    font-size: 16px;
}

#body_design .priceHover {
    display: none;
}

#body_design .priceHover table {
    border: none;
}

#body_design #card_previews_horizontal {
    height: 230px;
    padding: 30px 0;
    width: auto;
    overflow: hidden;
    position: relative;
}







/* ACCOUNT ---------------------------------------------------------------------------------------------------------- */

#body_account #categories,
#body_account_settings #categories,
#body_account_address #categories,
#body_account_password #categories,
#body_account_nieuwsbrief #categories,
#body_account_orders #categories,
#body_account_adresboek #categories,
#body_eigen_collectie #categories,
#body_account_adres_import #categories {
    display: none;
}

#body_account #pagecontent,
#body_account_settings #pagecontent,
#body_account_address #pagecontent,
#body_account_password #pagecontent,
#body_account_nieuwsbrief #pagecontent,
#body_account_orders #pagecontent,
#body_account_adresboek #pagecontent,
#body_eigen_collectie #pagecontent,
#body_account_adres_import #pagecontent {
    width: 100%;
}

select.field-input {
    background-color: #eee;
}

.button-block>a {
    background-color: #d8e4e0;
}

.button-block>a:hover {
    background-color: #bcc;
}

.button-link {
    color: #bcc;
}

.button-block>a .button-block-title {
    color: #666;
}

#body_eigen_collectie .xs-6 {
    width: 50%;
    float: left;
}

@media screen and (min-width: 480px) {
    #body_eigen_collectie .xsm-4 {
        width: 33.333333%;
    }
}

@media screen and (min-width: 768px) {
    #body_eigen_collectie .sm-3 {
        width: 25%;
    }
}







/* EDITOR ----------------------------------------------------------------------------------------------------------- */

#infodiv {
    top: 0;
    left: 0;
    width: auto;
}

.ui-accordion .ui-accordion-header {
    background: #bcc !important;
    height: auto;
    margin: 0;
    padding: 8px 10px;
    margin-bottom: 1px !important;
}

.ui-accordion .ui-accordion-header.ui-state-active,
.ui-accordion .ui-accordion-header:hover {
    background: #d8e4e0 !important;
}

#accordion .ui-accordion-header a {
    padding-left: 0;
    line-height: 1;
    color: #666 !important;
}

button#add_photo {
    font-size: 10px;
    padding: 0 !important;
    border-radius: 3px;
}

#order_card,
#step_forward {
    margin-top: 15px !important;
    border: none !important;
    border-radius: 20px;
}

#body_keuze .button {
    height: auto;
    line-height: 1;
}

#body_basket #categories .button {
    background-image: none;
    background-color: #bcc;
    padding: 10px 20px;
}

@media screen and (max-width: 767px) {
    #body_voorbeeld {
        color: #666;
    }
}







/* url is broken */

a[href='/account_address'] {
    display: None !important;
}








/** FOOTER FROM TABLE TO COLS ---------------------------**/

#footer {
    background-color: #bacccc;
    text-align: center;
    padding: 30px 15px 0 15px;
    line-height: 1.1em;
    margin-top: 50px;
}

#footer ul {
    margin: 0 10px 40px 10px;
}

#footer ul li {
    margin: 10px 0;
}

#footer a:hover {
    color: #666;
}

.footer-copyright {
    background-color: #fff;
    height: 72px;
    display: flex;
    justify-content: space-around;
}

.footer-copyright span {
    align-self: center;
    padding: 0 165px 0 12px;
    font-size: 10px;
}

@media screen and (min-width: 480px) {
    .footer-copyright span {
        font-size: 12px;
    }
}

@media screen and (min-width: 1200px) {
    .footer-copyright span {
        padding: 0 160px;
    }
}







/** BETTER PLACEMENT OF PAGEBOXY CONTENT -----------------------**/

#pagebody {
    padding: 0 15px;
}

#canvas {
    overflow: hidden;
    z-index: 0;
}

#canvasgrid {
    pointer-events: none;
}